@import "../../styles/variables.scss";
@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";

.report__container {
  height: $absoluteHeight100;
  @include flex(column, center, center);

  .report-container__title {
    text-align: center;
    font-size: $secondaryHeading;
    font-weight: $bold;
    margin-bottom: 20px;
  }
}

@media (max-width: $mediaFirstTabletScreen) {
  .report__container {
    .report-container__title {
      font-size: $secondaryHeading;
    }
  }
}

@media (max-width: $mediaSecondTabletScreen) {
  .report__container {
    .report-container__title {
      font-size: $headerTextMobile;
    }
  }
}

@media (max-width: $mediaMobileScreen) {
  .report__container {
    .report-container__title {
      font-size: $secondaryHeadingMobile;
    }
  }
}
