.stepper-wrapper-horizontal {
    display: flex;
    justify-content: space-between;
}

.step-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23%;
}

.step-number {
    width: 25px;
    height: 25px;
    margin-bottom: 1.5rem;
    padding: 2px;
    text-align: center;
    border: 1px solid $grey;
    border-radius: 50%;
}

.divider-line {
    position: absolute;
    top: 20%;
    left: 70%;
    height: 1px;
    background-color: $grey;
}

.divider-line-2 {
    width: 296%;
}

.divider-line-3 {
    width: 125%;
}

.divider-line-4 {
    width: 70%;
}

.divider-line-5 {
    width: 60%;
}

.step-number-selected {
    color: $white;
    border: 1px solid $grey;
}

.step-number-disabled {
    border: 1px solid $grey;
}

.step-description-active {
    font-weight: $bold;
}
