@import "../../styles/colors.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";

$sidebarWidth: 50px;
$sidebarOffset: 5px;

@media (min-width: $mediaMobileScreen) {

    .sidebar-menu {
        position: fixed;
        top: $height50;
        z-index: 100;
        width: fit-content;
        margin-left: 5px;
        list-style: none;
        transform: translateY(-$height50);

        .left-sidebar__item {
            position: relative;
            width: $sidebarWidth;
            padding: 15px;
            font-size: $fontsize20;
            background-color: $purpleDark;
            transform: translateX(-$sidebarWidth - $sidebarOffset);
            transition: transform $defaultTransition;

            @include flex(row, center, center);

            .item__page-name {
                position: absolute;
                top: $height50;
                left: calc($fullWidth + $sidebarOffset);
                display: none;
                width: max-content;
                padding: 0 5px;
                background-color: $black;
                border-radius: 5px;
                transform: translateY(-$height50);
                opacity: $opacity0;
                transition: $defaultTransition;
            }

            &:hover {

                .item__page-name {
                    opacity: $opacity1;
                }
            }

            &:first-child {
                border-radius: 5px 5px 0 0;
            }

            &:last-child {
                border-radius: 0 0 5px 5px;
            }

            .left-sidebar__link {
                color: $white;
                font-size: $fontsize16;
                text-decoration: none;

                &:hover {
                    color: $white;
                }

                &.active {
                    color: $green;
                }
            }
        }

        .toggle {
            all: unset;
            margin-bottom: 10px;
            background-color: $purpleDark;
            border-radius: 5px;
            cursor: pointer;

            @include flex(row, center, center);

            .toggle-btn {
                padding: 15px;
                color: $white;
                font-weight: $bold;
                font-size: $fontsize16;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    .sidebar-menu.active {

        .left-sidebar__item {
            transform: translateX(0);

            .item__page-name {
                display: flex;
            }
        }
    }
}

@media (max-width: $mediaMobileScreen) {

    .sidebar-menu {
        position: fixed;
        bottom: 50px;
        z-index: 100;
        margin-left: $sidebarOffset;
        list-style: none;

        @include flex(row, center, center);

        .left-sidebar__item {
            position: relative;
            width: $sidebarWidth;
            font-size: $fontsize16;
            opacity: $opacity0;
            transition: transform $defaultTransition;
            transition: opacity $defaultTransition;

            @include flex(row, center, center);

            .item__page-name {
                display: none;
            }
        }

        .toggle {
            all: unset;
            width: $sidebarWidth;
            font-size: $fontsize20;
            background-color: $purpleDark;
            border-radius: $borderRound;
            
            @include flex(row, center, center);

            .toggle-btn {
                width: $fullWidth;
                padding: 15px 0;
                color: $white;
                font-size: $fontsize16;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    .sidebar-menu.active {
        top: $height50;
        width: $fullWidth;
        height: $absoluteHeight100;
        margin-left: 0;
        background-color: $purpleDark;
        transform: translateY(-$height50);
        transition: $defaultTransition;
        clip-path: circle($width50);

        @include flex(column, center, center);

        .toggle-btn > svg {
            color: $white;
            font-size: $fontsize20;
        }

        .left-sidebar__item {
            display: flex;
            width: max-content;
            padding: 15px 0;
            opacity: $opacity1;

            .left-sidebar__link {
                @include flex(row, center, center);

                color: $white;
                font-size: $fontsize20;
                text-decoration: none;

                &:hover {

                    .item__page-name {
                        letter-spacing: 2px;
                    }
                }

                &.active {
                    color: $green;
                }
            }

            .item__page-name {
                display: flex;
                margin-left: 10px;
                transition: $defaultTransition;
            }
        }
    }
}
