@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "../../styles/colors.scss";

body {
    font-family: Poppins, sans-serif;
}

.left-sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    z-index: 101;
    overflow-x: hidden;
    background-color: $white;
    transition: 0.5s;
}

.left-sidebar-opened {
    width: 15em;
}

.left-sidebar-closed {
    width: 0;
}

#open-close-zone {
    display: none;
}

#open-close-zone.left-sidebar-opened {
    width: 100%;
    padding-left: 15em;
    background-color: rgb(0 0 0 / 75%);
}

#open-close-zone.left-sidebar-closed {
    width: auto;
}

.open-close-btn {
    padding: 10px 5px;
    font-size: 20px;
    background-color: rgb(0 0 0 / 20%);
    border: none;
    cursor: pointer;
}

.open-close-btn:hover {
    color: $white;
}

.left-sidebar ul li .link {
    display: block;
    padding: 10px;
    color: rgb(0 0 0 / 75%);
    font-size: 1.1em;
}

.left-sidebar ul li .link:hover {
    color: rgb(0 0 0);
    font-weight: 550;
    background: $white;
    border-bottom: 3px solid rgb(63 81 181);
    transition: 0.1s;
}

.list-unstyled li a {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media screen and (min-width: 575px) {

    #open-close-zone {
        display: none !important;
    }

    .left-sidebar {
        width: 15em !important;
    }

    #main {
        padding-left: 17em !important;
    }
}
