.sidebar-filter {
    position: fixed;
    top: inherit;
    right: 0;
    width: 15em;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.events-container {
    width: 100%;
    padding-right: 15em;
}

@media (max-width: 768px) {

    .sidebar-filter {
        position: relative !important;
        width: 100% !important;
        height: auto !important;
    }

    .events-container {
        padding-right: 0 !important;
    }
}
