@import "../../../styles/main.scss";

.login-link {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: $fontsize-14;
  text-decoration: none;
  cursor: pointer;
}

.disappear-login{
  display: none;
}


@media screen and (max-width: $tablet-breakpoint) {
  .login-link{
    margin-bottom: 10px;
    font-size: $fontsize-20;
  }
}