@import "../../../styles/main.scss";

.login-link {
  font-family: $mainFont;
  font-style: normal;
  font-weight: $bold;
  font-size: $fontsize-14;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: $mediaMobileScreen) {
  .login-link{
    display: none;
  }
}