@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/fonts.scss";

.login-link {
    font-weight: $bold;
    font-size: $fontsize14;
    font-family: $mainFont;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: $mediaSecondTabletScreen) {

    .login-link {
        display: none;
    }
}
