* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.Toast {
    display: flex;
    justify-content: space-between;
    width: 25rem;
    margin: 1rem auto;
    padding: 1rem;
    font-family: Helvetica, sans-serif;
    background: $white;
    border-left: 1rem solid #8a8a8a;
    border-radius: 0.5rem;
    box-shadow: 0.125rem 0.125rem 0.25rem rgb(0 0 0 / 25%);
}

.Toast--success {
    border-color: #008554;
}

.Toast--warning {
    border-color: #ffc627;
}

.Toast--error {
    border-color: #d14229;
}

.Toast__message-category {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: $bold;
    font-size: 1.25rem;
    text-transform: capitalize;
}

.Toast__message-text {
    margin-bottom: 0;
}

.Toast__button {
    margin-left: 1rem;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    border: none;
    opacity: 0.5;
}

body {
    margin: 0;
    padding: 0;
}

#notfound {
    position: relative;
    height: 60vh;
}

#notfound .notfound {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    width: 100%;
    max-width: 310px;
    text-align: center;
}

.notfound .notfound-404 {
    position: relative;
    z-index: -1;
    height: 180px;
}

.notfound .notfound-404 h1 {
    position: absolute;
    left: 50%;
    margin: 0;
    font-weight: 900;
    font-size: 130px;
    font-family: Montserrat, sans-serif;
    background: url("../../assets/routeGuardImages/bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-text-fill-color: transparent;
}

.notfound h2 {
    margin-top: 0;
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}

.notfound p {
    margin-top: 0;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
}

.notfound a {
    display: inline-block;
    padding: 15px 30px;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background: #0046d5;
    border-radius: 40px;
    -webkit-box-shadow: 0 4px 15px -5px #0046d5;
    box-shadow: 0 4px 15px -5px #0046d5;
}

@media only screen and (max-width: 767px) {

    .notfound .notfound-404 {
        height: 143px;
    }

    .notfound .notfound-404 h1 {
        font-size: 112px;
    }
}
