@import "../../styles/fonts.scss";

.tile-wrapper {
    display: block;
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 1;
    align-self: auto;
    padding: 10px;
}

.tile-label {
    margin: 5px auto 0 10px;
    font-weight: $bold;
    font-size: 0.9vw;
    text-align: left;
}
