@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.auth-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: aqua;
    &.closed {
        display: none;
    }
    .modal-switcher {
        padding: 30px 50px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $lightPink; 
        color: $black;
        font-size: $fontsize-18;
        .switcher-btn {
            cursor: pointer;
            margin-left: 15px;
            color: $purple;
            font-weight: $bold;
        }
    }
}