@import "../../../../styles/variables.scss";
@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";
@import "../../../../styles/fonts.scss";

.card-item-container {
    @include flex(row, flex-start, center);

    .card-item {
        @include flex(column, center, center);

        position: relative;
        width: 700px;
        max-width: 700px;
        height: 280px;
        margin-bottom: 50px;
        box-shadow: $boxshadow;

        .content {
            @include flex(row, flex-start, flex-end);

            position: relative;
            width: $fullWidth;
            height: 200px;
            padding: 15px;
            padding-bottom: 0;

            .image-container {
                @include flex(row, center, center);

                position: absolute;
                top: -25px;
                left: 25px;
                width: 370px;
                height: 200px;
                overflow: hidden;
                box-shadow: $imageshadow;
            }

            .card-image {
                position: absolute;
                top: $halfWidth;
                left: $halfWidth;
                width: 370px;
                height: 200px;
                object-fit: cover;
                transform: translate($minusHalfWidth, $minusHalfWidth);
            }

            .card-item-content {
                @include flex(column, flex-start, space-between);

                width: 40%;

                .card-item-header {
                    position: relative;
                    color: $lightThemeAccept;
                    font-weight: $bold;
                    font-size: $fontsize20;
                    text-transform: uppercase;
                }

                .card-item-ovner {
                    @include flex(row, center, center);

                    width: $fullWidth;
                    padding: 5px;
                    color: $black;
                    font-weight: $bold;
                    background-color: $lightPink;
                    border-radius: 3px;
                }

                .card-item-description {
                    padding-bottom: 15px;
                    color: $lightThemeHeader;
                    font-size: $fontsize14;
                }
            }
        }

        .card-item-bottom-row {
            @include flex(row, center, flex-end);

            width: $fullWidth;
            padding-bottom: 15px;

            .card-item-footer {
                margin: 0 60px;
            }

            .card-item-footer:last-child {
                margin: 0 15px 0 60px;
            }

            .heart-icon {
                margin-bottom: 0;
            }

            .event-date {
                @include flex(column, flex-start, flex-start);

                position: absolute;
                bottom: 25px;
                left: 30px;

                .day,
                .month {
                    height: 40px;
                    color: $lightThemeAccept;
                    font-family: $robinson;
                }

                .day {
                    margin-bottom: 15px;
                    font-weight: $bold;
                    font-size: 100px;
                    line-height: 30px;
                    text-shadow: 0 0 20px $white;
                }

                .month {
                    font-size: 45px;
                    text-transform: uppercase;
                }
            }

            .event-details-btn {
                @include flex(row, center, flex-start);

                color: $white;
                background-color: $lightThemeAccept;
            }
        }
    }
}

@media screen and (max-width: $mediaSecondTabletScreen) {

    .card-item-container {

        .card-item {
            justify-content: space-between;
            height: 235px;

            .content {
                height: 130px;
                margin-top: 10px;
                padding-top: 0;

                .image-container {
                    top: -25px;
                    left: 20px;
                    width: 280px;
                    max-height: 150px;

                    .card-image {
                        min-width: 280px;
                        max-height: 150px;
                    }
                }

                .card-item-content {
                    justify-content: flex-start;
                    height: 200px;

                    .card-item-header {
                        padding-bottom: 10px;
                        font-size: 12px;
                    }

                    .card-item-description {
                        padding-bottom: 10px;
                        font-size: 12px;
                    }
                }
            }

            .card-item-bottom-row {
                padding-bottom: 10px;

                .event-date {
                    position: absolute;
                    bottom: 25px;
                    left: 20px;
                    left: 30px;
                    display: flex;
                    flex-direction: column;

                    .day,
                    .month {
                        height: 40px;
                        color: $lightThemeAccept;
                        font-family: $robinson;
                    }

                    .day {
                        margin-bottom: 10px;
                        font-weight: $bold;
                        font-size: 80px;
                        line-height: 30px;
                        text-shadow: 0 0 20px $white;
                    }

                    .month {
                        font-size: 40px;
                        text-transform: uppercase;
                    }
                }

                .card-item-footer {
                    margin: 0 30px;
                }

                .card-item-footer:last-child {
                    margin: 0 15px 0 30px;
                }
            }
        }
    }
}

@media screen and (max-width: $mediaMobileScreen) {

    .card-item-container {

        .card-item {
            width: 450px;
            height: 220px;

            .content {
                height: 220px;
                padding-top: 0;

                @include flex(row, center, flex-start);

                .image-container {
                    position: relative;
                    top: -20px;
                    left: 0;
                    width: $fullWidth;
                    margin-bottom: 0;
                    padding-bottom: 0;

                    .card-image {
                        width: $fullWidth;
                    }
                }

                .card-item-content {
                    width: 150px;
                    height: 70px;

                    @include flex(column, flex-start, center);

                    .card-item-header {
                        padding: 10px;
                        font-size: $fontsize12;
                    }

                    .card-item-ovner {
                        margin-left: 10px;
                    }

                    .card-item-description {
                        display: none;
                    }
                }
            }

            .card-item-bottom-row {
                padding-bottom: 10px;

                .event-date {
                    left: 20px;

                    .day {
                        margin-bottom: 10px;
                        font-weight: $bold;
                        font-size: 70px;
                        line-height: 70px;
                        text-shadow: 0 0 10px $lightThemeHeader;
                    }

                    .month {
                        font-size: 40px;
                        text-transform: uppercase;
                    }
                }

                .card-item-footer {
                    margin: 0 35px;
                }

                .card-item-footer:last-child {
                    margin: 0 35px;
                }
            }
        }
    }
}

@media screen and (max-width: $mobileBreakpoint) {

    .event-location {
        display: none;
    }
}
