@import "../../../../styles/variables.scss";
@import "../../../../styles/colors.scss";

.card-item-container {
  @include flex(row, start, center);
  .card-item {
    @include flex(column, center, center);
    height: $distance280px;
    position: relative;
    width: 700px;
    max-width: 700px;
    box-shadow: 0 0 $distance10px $transparentBlackBackground;
    margin-bottom: $distance50px;
    .content {
      @include flex(row, start, flex-end);
      width: $percent100;
      height: $distance200px;
      position: relative;
      padding: $distance15px;
      padding-bottom: 0;
      .image-container {
        @include flex(row, center, center);
        top: -25px;
        left: $distance25px;
        width: $distance370px;
        height: $distance200px;
        overflow: hidden;
        position: absolute;
        box-shadow: $distance10px $distance10px $distance40px 0 $lightThemeHeader;
      }
      .card-image {
        position: absolute;
        top: $percent50;
        left: $percent50;
        transform:translate($-percent50, $-percent50);
        width: $distance370px;
        height: $distance200px;
        object-fit:cover;
      }
      .card-item-content {
        @include flex(column, start, space-between);
        width: 40%;
        .card-item-header {
          text-transform: uppercase;
          font-weight: bold;
          font-size: $fontsize-20;
          color: $lightThemeAccept;
          position: relative;
        }
        .card-item-ovner {
          @include flex(row, center, center);
          width: $percent100;
          color: $black;
          background-color: $lightPink;
          border-radius: 3px;
          font-weight: bold;
          padding: $minPadding;
        }
        .card-item-description {
          font-size: $fontsize-14;
          color: $lightThemeHeader;
          padding-bottom: $distance15px;
        }
      }
    }
    .card-item-bottom-row {
      @include flex(row, center, flex-end);
      width: $percent100;
      padding-bottom: $distance15px;
      .card-item-footer {
        margin: 0 $distance60px;
      }
      .card-item-footer:last-child {
        margin: 0 $distance15px 0 $distance60px;
      }
      .heart-icon {
        margin-bottom: 0;
      }
      .event-date {
        @include flex(column, start, start);
        position: absolute;
        left: $distance30px;
        bottom: $distance25px;
        .day, .month {
          color: $lightThemeAccept;
          font-family: 'Robinson', sans-serif;
          height: $distance40px;
        }
        .day {
          text-shadow: 0 0 $distance20px $white;
          margin-bottom: $distance15px;
          font-weight: bold;
          font-size: $distance100px;
          line-height: $distance30px;
        }
        .month {
          text-transform: uppercase;
          font-size: $distance45px;
        }
      }
      .event-details-btn {
        @include flex(row, center, start);
        background-color: $lightThemeAccept;
        color: $white;
      }
    }
  }
}

@media screen and (max-width: $mediaSecondTabletScreen) {
    .card-item-container {
    .card-item {
      height: 235px;
      justify-content: space-between;
      .content {
        margin-top: $distance10px;
        padding-top: 0;
        height: 130px;
        .image-container {
          width: $distance280px;
          max-height: $distance150px;
          top: -25px;
          left: $distance20px;
          .card-image {
            min-width: $distance280px;
            max-height: $distance150px;
          }
        }
        .card-item-content {    
          height: $distance200px;
          justify-content: flex-start;
          .card-item-header {
            font-size: 12px;
            padding-bottom: $distance10px;
          }
          .card-item-description {
            font-size: 12px;
            padding-bottom: $distance10px;
          }
        }
      }
      .card-item-bottom-row {
        padding-bottom: $distance10px;
        .event-date {
          left: $distance20px;
        }

        .event-date {
          position: absolute;
          left: $distance30px;
          bottom: $distance25px;
          display: flex;
          flex-direction: column;
          
          .day, .month {
            color: $lightThemeAccept;
            font-family: 'Robinson', sans-serif;
            height: $distance40px;
          }
          .day {
            text-shadow: 0 0 $distance20px $white;
            margin-bottom: $distance10px;
            font-weight: bold;
            font-size: $distance80px;
            line-height: $distance30px;
          }
          .month {
            text-transform: uppercase;
            font-size: 40px;
          }
        }
        .card-item-footer {
          margin: 0 $distance30px;
        }
        .card-item-footer:last-child {
          margin: 0 $distance15px 0 $distance30px;
        }
      }
    }
  }
}

@media screen and (max-width: $mediaMobileScreen) {
  .card-item-container {
    .card-item {
      height: $distance220px;
      width: 450px;
      .content {
        padding-top: 0;
        @include flex(row, center, start);
        height: $distance220px;
        .image-container {
          position: relative;
          width: $percent100;
          top: -20px;
          left: 0;
          padding-bottom: 0;
          margin-bottom: 0;
          .card-image {
            width: $percent100;
          }
        }
        .card-item-content {   
          width: $distance150px;
          height: $distance70px;
          @include flex(column, start, center);
          .card-item-header {
            font-size: $fontsize-12;
            padding: $distance10px;
          }
          .card-item-ovner {
            margin-left: $distance10px;
          }
          .card-item-description {
            display: none;
          }
        }
      }
      .card-item-bottom-row {
        padding-bottom: $distance10px;
        .event-date {
          left: $distance20px;
          .day {
            text-shadow: 0 0 $distance10px $lightThemeHeader;
            margin-bottom: $distance10px;
            font-weight: bold;
            font-size: $distance70px;
            line-height: $distance70px;
          }
          .month {
            text-transform: uppercase;
            font-size: $distance40px;
          }
        }
        .card-item-footer {
          margin: 0 $distance35px;
        }
        .card-item-footer:last-child {
          margin: 0 $distance35px 0 $distance35px;
        }
      }
    }
  }
}
@media screen and (max-width: $mobile-breakpoint) {
  .event-location {
    display: none;
  }
}