{
  "env": {
    "browser": true
  },
  "extends": [
    "react-app",
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier",
    "import",
    "react"
  ],
  "rules": {
    "camelcase": [
      "error",
      {
        "properties": "always",
        "ignoreDestructuring": false,
        "ignoreImports": false
      }
    ],
    "complexity": ["error", 12],
    
    "eol-last": ["error", "always"],
    "import/no-unresolved": [2, { "caseSensitive": true }],
    "no-magic-numbers": [
      "error",
      {
        "ignoreDefaultValues": true,
        "ignoreArrayIndexes": true,
        "ignore": [
          -1,
          0,
          1
        ]
      }
    ],
    "import/no-cycle": [
      "error",
      {
        "maxDepth": 2
      }
    ], // forbidden cycle dependency  --------> ~ 15 errors

    "import/extensions": ["error", "never"], 
    "import/no-named-as-default": ["error"],

    // "react/destructuring-assignment": 2, // require props destructuring inside component ~ 600 // need to refactor all CC
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off", // forbid propTypes.object
    "react/no-did-update-set-state": "off", // needed till we have class components
    // "react/jsx-props-no-spreading": "error", // forbid to pass props via spread operator ~ 30
    "react/jsx-props-no-spreading": "off", // forbid to pass props via spread operator ~ 30
    "react/jsx-curly-newline": 0, // formatting rule have to be off
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".jsx"
        ]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-max-depth": ["error", { "max": 6 }], // max deep in jsx --------> ~ 7 components
    "react/no-unstable-nested-components": "error",
    "react/no-array-index-key": "error",
    "react/no-multi-comp": [
      "error",
      {
        "ignoreStateless": false
      }
    ],
    "react/jsx-curly-brace-presence": [
      "error",
      {
        "props": "never",
        "children": "always"
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "avoid",
        "bracketSameLine": false,
        "bracketSpacing": true,
        "endOfLine": "auto",
        "jsxSingleQuote": false,
        "printWidth": 80,
        "proseWrap": "always",
        "singleQuote": false,
        "semi": true,
        "tabWidth": 2,
        "trailingComma": "all",
        "useTabs": false
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "src/containers/**/*.jsx",
        "src/containers/**/*.js"
      ],
      "rules": {
        "react/destructuring-assignment": 0
      }
    }
  ],
  "settings": {
    "import/extensions": [
      ".js",
      ".jsx",
      ".json"
    ]
  }
}