@import "../../styles/main.scss";

.footer__container {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  z-index: 101;

  .footer__inner {

    .footer__head {
      background-color: #180C30;
      padding: 10px;

      .head__text {
        color: #F0EAF4;
        font-size: 40px;
        font-weight: 400;
        margin: 0;
      }
    }

    .footer__interact {
      padding: 50px 0;
      background-color: #FFFFFF;
      display: flex;
      justify-content: space-around;

      .footer__contacts {
        .contact__us {
          font-size: 24px;
          font-weight: 700;
          margin: 0;
        }

        .contact__number {
          font-size: 18px;
          font-weight: 700;
          margin-top: 10px;
        }
      }

      .footer__subscribe {
        .subscibe__us {
          font-size: 24px;
          font-weight: 700;
        }

        .footer__form {
          width: 100%;
          margin-top: 10px;
          position: relative;

          .footer__input {
            width: 270px;
            height: 40px;
            padding: 8px 25px;
            border-radius: 16px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: none;
            outline: none;
          }

          .footer__subscribe__icon {
            position: absolute;
            top: 13px;
            right: 10px;
            cursor: pointer;
          }
        }
      }

      .footer__social_links {
        .our__socials {
          font-size: 24px;
          font-weight: 700;
          margin: 0;
        }

        .footer__social_links_icons {
          display: flex;
          justify-content: center;
          margin-top: 10px;

          .link__icon {
            margin-right: 15px;
            text-decoration: none;
            color: inherit;

            &:last-child {
              margin-right: 0px;
            }

            .social__icon {
              font-size: 30px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mediaFirstTabletScreen) {
  .footer__container {
    margin-top: 25px;

    .footer__inner {
      .footer__head {
        .head__text {
          font-size: 32px;
        }
      }

      .footer__interact {
        padding: 40px 0;

        .footer__contacts {
          .contact__us {
            font-size: 20px;
          }

          .contact__number {
            font-size: 16px;
            margin-top: 8px;
          }
        }

        .footer__subscribe {
          .subscibe__us {
            font-size: 20px;
          }

          .footer__form {
            .footer__input {
              width: 250px;
            }
          }
        }

        .footer__social_links {
          .our__socials {
            font-size: 20px;
          }

          .footer__social_links_icons {
            .link__icon {

              .social__icon {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mediaSecondTabletScreen) {
  .footer__container {
    margin-top: 20px;

    .footer__inner {
      .footer__head {
        .head__text {
          font-size: 24px;
        }
      }

      .footer__interact {
        padding: 30px 0;

        .footer__contacts {
          .contact__us {
            font-size: 16px;
          }

          .contact__number {
            font-size: 14px;
            margin-top: 5px;
          }
        }

        .footer__subscribe {
          .subscibe__us {
            font-size: 16px;
          }

          .footer__form {
            .footer__input {
              width: 220px;
            }
          }
        }

        .footer__social_links {
          .our__socials {
            font-size: 16px;
          }

          .footer__social_links_icons {
            .link__icon {

              .social__icon {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mediaMobileScreen) {
  .footer__container {
    margin-top: 15px;

    .footer__inner {
      .footer__head {
        .head__text {
          font-size: 20px;
        }
      }

      .footer__interact {
        padding: 30px 0;

        .footer__contacts {
          .contact__us {
            font-size: 16px;
          }

          .contact__number {
            font-size: 14px;
            margin-top: 5px;
          }
        }

        .footer__subscribe {
          .subscibe__us {
            font-size: 16px;
          }

          .footer__form {
            .footer__input {
              width: 220px;
            }
          }
        }

        .footer__social_links {
          .our__socials {
            font-size: 16px;
          }

          .footer__social_links_icons {
            .link__icon {

              .social__icon {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}