@import "../../styles/colors.scss";

.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 95vh;
    border-radius: 15px !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    background: $whiteBlue;
    border-bottom: 0 !important;
    border-radius: 15px 15px 0 0 !important;
}

.card-footer {
    border-top: 0 !important;
    border-radius: 0 0 15px 15px !important;
}

.container {
    align-content: center;
}

.search {
    color: $white !important;
    background-color: rgb(0 0 0 / 30%) !important;
    border: 0 !important;
    border-radius: 15px 0 0 15px !important;
}

.search:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.type_msg {
    height: 60px !important;
    overflow-y: auto;
    color: $white !important;
    background-color: rgb(0 0 0 / 30%) !important;
    border: 0 !important;
}

.type_msg:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.attach_btn {
    color: $white !important;
    background-color: rgb(0 0 0 / 30%) !important;
    border: 0 !important;
    border-radius: 15px 0 0 15px !important;
    cursor: pointer;
}

.send_btn {
    color: $white !important;
    background-color: rgb(0 0 0 / 30%) !important;
    border: 0 !important;
    border-radius: 0 15px 15px 0 !important;
    cursor: pointer;
}

.search_btn {
    color: $white !important;
    background-color: rgb(0 0 0 / 30%) !important;
    border: 0 !important;
    border-radius: 0 15px 15px 0 !important;
    cursor: pointer;
}

.contacts {
    padding: 0;
    list-style: none;
}

.user_img {
    width: 70px;
    height: 70px;
    border: 1.5px solid $gray;
}

.user_img_msg {
    width: 40px;
    height: 40px;
    border: 1.5px solid $gray;
}

.img_cont {
    position: relative;
    width: 70px;
    height: 70px;
}

.img_cont_msg {
    width: 40px;
    height: 40px;
}

.online_icon {
    position: absolute;
    right: 0.4em;
    bottom: 0.2em;
    width: 15px;
    height: 15px;
    background-color: $green;
    border: 1.5px solid $white;
    border-radius: 50%;
}

.offline {
    background-color: $deleteColor !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    color: $white;
    font-size: 20px;
}

.user_info p {
    color: rgb(255 255 255 / 60%);
    font-size: 10px;
}

.video_cam {
    margin-top: 5px;
    margin-left: 50px;
}

.video_cam span {
    margin-right: 20px;
    color: $white;
    font-size: 20px;
    cursor: pointer;
}

.msg_cotainer {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    padding: 10px;
    background-color: $whiteBlue;
    border-radius: 25px;
}

.msg_cotainer_send {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    background-color: $green;

    /* margin-right: 10px; */
    border-radius: 25px;
}

.msg_time {
    position: absolute;
    bottom: -15px;
    left: 0;
    min-width: 100px;
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    float: right;
    min-width: 100px;
    color: $black;
    font-size: 10px;
}

.msg_head {
    position: relative;
}
