@import "../../styles/colors.scss";

#frame {
    width: 95%;
    min-width: 360px;
    max-width: 1000px;
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
    background: $chatLightGrey;
}

.new-msgs {
    padding: 5px;
    background-color: $orangeBrown;
    border-radius: 5px;
}

@media screen and (max-width: 360px) {

    #frame {
        width: 100%;
        height: 100vh;
    }
}

#frame #sidepanel {
    position: relative;
    float: right;
    width: 40%;
    min-width: 280px;
    max-width: 340px;
    height: 100%;
    overflow: hidden;
    color: $chatWhite;
    background: $greyBlue;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel {
        width: 58px;
        min-width: 58px;
    }
}

#frame #sidepanel #profile {
    width: 80%;
    margin: 25px auto;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #profile {
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 0;
        background: $lightBlue;
    }
}

#frame #sidepanel #profile.expanded .wrap {
    height: 210px;
    line-height: initial;
}

#frame #sidepanel #profile.expanded .wrap p {
    margin-top: 20px;
}

#frame #sidepanel #profile.expanded .wrap i.expand-button {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: "FlipH";
    filter: fliph;
}

#frame #sidepanel #profile .wrap {
    height: 60px;
    overflow: hidden;
    line-height: 60px;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #profile .wrap {
        height: 55px;
    }
}

#frame #sidepanel #profile .wrap img {
    float: left;
    width: 50px;
    height: auto;
    padding: 3px;
    border: 2px solid $redOrange;
    border-radius: 50%;
    cursor: pointer;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #profile .wrap img {
        width: 40px;
        margin-left: 4px;
    }
}

#frame #sidepanel #profile .wrap img.online {
    border: 2px solid $chatBlueGrey;
}

#frame #sidepanel #profile .wrap img.away {
    border: 2px solid $yellow;
}

#frame #sidepanel #profile .wrap img.busy {
    border: 2px solid $redOrange;
}

#frame #sidepanel #profile .wrap img.offline {
    border: 2px solid $chatMiddleGrey;
}

#frame #sidepanel #profile .wrap p {
    float: left;
    margin-left: 15px;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #profile .wrap p {
        display: none;
    }
}

#frame #sidepanel #profile .wrap i.expand-button {
    float: right;
    margin-top: 23px;
    color: $chatBlueGrey;
    font-size: 0.8em;
    cursor: pointer;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #profile .wrap i.expand-button {
        display: none;
    }
}

#frame #sidepanel #profile .wrap #status-options {
    position: absolute;
    z-index: 99;
    width: 150px;
    margin: 70px 0 0;
    line-height: initial;
    background: $chatBlueGrey;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #profile .wrap #status-options {
        width: 58px;
        margin-top: 57px;
    }
}

#frame #sidepanel #profile .wrap #status-options.active {
    margin: 75px 0 0;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #profile .wrap #status-options.active {
        margin-top: 62px;
    }
}

#frame #sidepanel #profile .wrap #status-options::before {
    position: absolute;
    width: 0;
    height: 0;
    margin: -8px 0 0 24px;
    border-right: 6px solid transparent;
    border-bottom: 8px solid $chatBlueGrey;
    border-left: 6px solid transparent;
    content: "";
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #profile .wrap #status-options::before {
        margin-left: 23px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul {
    overflow: hidden;
    border-radius: 6px;
}

#frame #sidepanel #profile .wrap #status-options ul li {
    display: block;
    padding: 15px 0 30px 18px;
    cursor: pointer;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #profile .wrap #status-options ul li {
        padding: 15px 0 35px 22px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li:hover {
    background: $chatBlueGrey;
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    margin: 5px 0 0;
    border-radius: 50%;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
        width: 14px;
        height: 14px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li span.status-circle::before {
    position: absolute;
    z-index: 0;
    width: 14px;
    height: 14px;
    margin: -3px 0 0 -3px;
    background: transparent;
    border-radius: 50%;
    content: "";
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #profile .wrap #status-options ul li span.status-circle::before {
        width: 18px;
        height: 18px;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li p {
    padding-left: 12px;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #profile .wrap #status-options ul li p {
        display: none;
    }
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
    background: $chatBlueGrey;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle::before {
    border: 1px solid $chatBlueGrey;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
    background: $yellow;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle::before {
    border: 1px solid $yellow;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
    background: $redOrange;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle::before {
    border: 1px solid $redOrange;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
    background: $chatMiddleGrey;
}

#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle::before {
    border: 1px solid $chatMiddleGrey;
}

#frame #sidepanel #profile .wrap #expanded {
    display: block;
    padding: 100px 0 0;
    line-height: initial !important;
}

#frame #sidepanel #profile .wrap #expanded label {
    float: left;
    clear: both;
    margin: 0 8px 5px 0;
    padding: 5px 0;
}

#frame #sidepanel #profile .wrap #expanded input {
    width: calc(100% - 43px);
    margin-bottom: 6px;
    padding: 7px;
    color: $chatWhite;
    background: $lightBlue;
    border: none;
    border-radius: 3px;
}

#frame #sidepanel #profile .wrap #expanded input:focus {
    background: $chatBlueGrey;
    outline: none;
}

#frame #sidepanel #search {
    font-weight: 300;
    border-top: 1px solid $lightBlue;
    border-bottom: 1px solid $lightBlue;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #search {
        display: none;
    }
}

#frame #sidepanel #search label {
    position: absolute;
    margin: 10px 0 0 20px;
}

#frame #sidepanel #search input {
    width: calc(100% - 25px);
    padding: 10px 0 10px 46px;
    color: $chatWhite;
    font-family: proxima-nova, "Source Sans Pro", sans-serif;
    background: $lightBlue;
    border: none;
}

#frame #sidepanel #search input:focus {
    background: $chatBlueGrey;
    outline: none;
}

#frame #sidepanel #search input::input-placeholder {
    color: $chatWhite;
}

#frame #sidepanel #search input::placeholder {
    color: $chatWhite;
}

#frame #sidepanel #search input:input-placeholder {
    color: $chatWhite;
}

#frame #sidepanel #search input:placeholder {
    color: $chatWhite;
}

#frame #sidepanel #contacts {
    height: calc(100% - 177px);
    overflow-x: hidden;
    overflow-y: scroll;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #contacts {
        height: calc(100% - 149px);
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #frame #sidepanel #contacts::-webkit-scrollbar {
        display: none;
    }
}

#frame #sidepanel #contacts.expanded {
    height: calc(100% - 334px);
}

#frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: $greyBlue;
}

#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: $greyBlue;
}

#frame #sidepanel #contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px;
    font-size: 0.9em;
    cursor: pointer;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #contacts ul li.contact {
        padding: 6px 0 46px 8px;
    }
}

#frame #sidepanel #contacts ul li.contact:hover {
    background: $lightBlue;
}

#frame #sidepanel #contacts ul li.contact.active {
    background: $lightBlue;
    border-right: 5px solid $chatBlueGrey;
}

#frame #sidepanel #contacts ul li.contact.active span.contact-status {
    border: 2px solid $lightBlue !important;
}

#frame #sidepanel #contacts ul li.contact .wrap {
    position: relative;
    width: 88%;
    margin: 0 auto;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #contacts ul li.contact .wrap {
        width: 100%;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    margin: -2px 0 0 -2px;
    background: $chatMiddleGrey;
    border: 2px solid $greyBlue;
    border-radius: 50%;
}

#frame #sidepanel #contacts ul li.contact .wrap span.online {
    background: $chatBlueGrey;
}

#frame #sidepanel #contacts ul li.contact .wrap span.away {
    background: $yellow;
}

#frame #sidepanel #contacts ul li.contact .wrap span.busy {
    background: $redOrange;
}

#frame #sidepanel #contacts ul li.contact .wrap img {
    float: left;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #contacts ul li.contact .wrap img {
        margin-right: 0;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #contacts ul li.contact .wrap .meta {
        display: none;
    }
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0;
    padding: 0 0 1px;
    overflow: hidden;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    margin: 0 0 0 1px;
    padding: 0 2px 0 0;
    background: none;
    border: none;
    border-radius: initial;
    opacity: 0.5;
}

#frame #sidepanel #bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#frame #sidepanel #bottom-bar button {
    float: left;
    width: 50%;
    padding: 10px 0;
    color: $chatWhite;
    font-size: 0.85em;
    font-family: proxima-nova, "Source Sans Pro", sans-serif;
    background: $lightBlue;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #bottom-bar button {
        float: none;
        width: 100%;
        padding: 15px 0;
    }
}

#frame #sidepanel #bottom-bar button:focus {
    outline: none;
}

#frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid $greyBlue;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #bottom-bar button:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid $greyBlue;
    }
}

#frame #sidepanel #bottom-bar button:hover {
    background: $chatBlueGrey;
}

#frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #bottom-bar button i {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 735px) {

    #frame #sidepanel #bottom-bar button span {
        display: none;
    }
}

#frame .content {
    position: relative;
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 735px) {

    #frame .content {
        width: calc(100% - 58px);
        min-width: 300px !important;
    }
}

@media screen and (min-width: 900px) {

    #frame .content {
        width: calc(100% - 340px);
    }
}

#frame .content .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: $chatWhite;
}

#frame .content .contact-profile img {
    float: left;
    width: 40px;
    margin: 9px 12px 0 9px;
    border-radius: 50%;
}

#frame .content .contact-profile p {
    float: left;
}

#frame .content .contact-profile .social-media {
    float: right;
}

#frame .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
}

#frame .content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
}

#frame .content .contact-profile .social-media i:hover {
    color: $chatBlueGrey;
}

#frame .content .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-x: hidden;
    overflow-y: scroll;
}

@media screen and (max-width: 735px) {

    #frame .content .messages {
        max-height: calc(100% - 105px);
    }
}

#frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

#frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / 30%);
}

#frame .content .messages ul li {
    display: inline-block;
    float: left;
    clear: both;
    width: calc(100% - 25px);
    margin: 15px 15px 5px;
    font-size: 0.9em;
}

#frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}

#frame .content .messages ul li.sent img {
    margin: 6px 8px 0 0;
}

#frame .content .messages ul li.sent p {
    color: $chatWhite;
    background: $chatBlueGrey;
}

#frame .content .messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
}

#frame .content .messages ul li.replies p {
    float: right;
    background: $chatWhite;
}

#frame .content .messages ul li img {
    float: left;
    width: 22px;
    border-radius: 50%;
}

#frame .content .messages ul li p {
    display: inline-block;
    max-width: 205px;
    padding: 10px 15px;
    line-height: 130%;
    border-radius: 20px;
}

@media screen and (min-width: 735px) {

    #frame .content .messages ul li p {
        max-width: 300px;
    }
}

#frame .content .message-input {
    position: absolute;
    bottom: 0;
    z-index: 99;
    width: 100%;
}

#frame .content .message-input .wrap {
    position: relative;
}

#frame .content .message-input .wrap input {
    float: left;
    width: calc(100% - 90px);
    padding: 11px 32px 10px 8px;
    color: $lightBlue;
    font-size: 0.8em;
    font-family: proxima-nova, "Source Sans Pro", sans-serif;
    border: none;
}

@media screen and (max-width: 735px) {

    #frame .content .message-input .wrap input {
        padding: 15px 32px 16px 8px;
    }
}

#frame .content .message-input .wrap input:focus {
    outline: none;
}

#frame .content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    color: $chatBlueGrey;
    font-size: 1.1em;
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (max-width: 735px) {

    #frame .content .message-input .wrap .attachment {
        right: 65px;
        margin-top: 17px;
    }
}

#frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
}

#frame .content .message-input .wrap button {
    float: right;
    width: 50px;
    padding: 12px 0;
    color: $chatWhite;
    background: $lightBlue;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 735px) {

    #frame .content .message-input .wrap button {
        padding: 16px 0;
    }
}

#frame .content .message-input .wrap button:hover {
    background: $chatBlueGrey;
}

#frame .content .message-input .wrap button:focus {
    outline: none;
}

.limit-width {
    max-width: 100%;
}

.wrap-text {
    overflow-wrap: anywhere;
}
