@import "../../../styles/main.scss";

.user-name {
  margin: 0 3px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $black;

  @media (max-width: $mobile-breakpoint) {
    font-size: $fontsize-10;
    margin: 0;
  }
}

.dropdown-toggle {
  align-items: center;
  display: flex;
  flex-direction: row;
  color: $black;
}

.dropdown-menu {
  background: $dropDownGradient;
  width: 210px;
  padding-top: 10;
  margin-top: 10px;
  border-radius: $buttonBorderRadius;
}
.dropdown-item {
  background-color: $dropdownItemBackground;
  width: 190px;
  height: 40px;
  color: $dropdownItemColor;
  margin: 2px;
  font-size: $fontsize-14;
  text-align: center;
  border-radius:10px;
  margin: auto;
  margin-bottom: 7px;
  display: flex;
  justify-content: space-between;
  align-items:center;
   @media (max-width: $mobile-breakpoint) {
    font-size: $fontsize-10;

  }
}
.removedecorations,
.removedecorations:hover {
  all: unset;
}
