@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3px 0 5px;
    color: $black;

    @media (max-width: $mobileBreakpoint) {
        margin: 0;
        font-size: $fontsize10;
    }
}

.dropdown-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $black;
}

.dropdown-menu {
    width: 210px;
    margin-top: 10px;
    padding-top: 10;
    background: $dropDownGradient;
    border-radius: $buttonBorderRadius;
}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    height: 40px;
    margin: 2px;
    margin: auto;
    margin-bottom: 7px;
    color: $dropDownItemColor;
    font-size: $fontsize14;
    text-align: center;
    background-color: $dropDownItemBackground;
    border-radius: $r16;

    @media (max-width: $mediaMobileScreen) {
        font-size: $fontsize10;
    }
}

.removedecorations {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
    padding: 10px 20px;
}
