@import "../../styles/variables.scss";
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";

.user_info_card {
    display: flex;
    flex-direction: column;
    width: $fullWidth;
    min-width: 300px;
    height: 170px;
    margin: 10px;
    padding: 10px;
    border-radius: $r16;
    box-shadow: $inputShadow;

    .user_avatar {
        display: flex;
        justify-content: center;
        height: 60px;
        margin: 10px;
    }

    .user_main_info {
        @include flex(column, center, center);

        > :first-child {
            font-weight: $thick;
            font-size: $fontsize24;
            text-align: center;

            &:hover {
                color: $black;
                text-decoration: underline 2px solid $black;
            }
        }

        .user_info_item {
            font-size: $fontsize16;
            text-align: center;
        }
    }

    .user_rating {
        position: relative;
        top: -40px;
        left: -10px;
        z-index: 10;
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: $mediaMobileScreen) {

    .user_info_card {
        max-width: 100%;
        margin: 5px;
    }
}

.attitude_bg_green {
    background-color: $green;
}

.attitude_bg_red {
    background-color: lighten($deleteColor, 30%);
}
