@import "../../styles/variables.scss";
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import "../../styles/fonts.scss";

.user_info_card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: 170px;
  width: $fullWidth;
  margin: 10px;
  padding: 10px;
  border-radius: $r16;
  box-shadow: 0 0 10px $transparentGreyBackground;

  .user_avatar {
    margin: 10px;
    display: flex;
    justify-content: center;
    height: 60px;
  }
  .user_main_info {
    @include flex(column, center, center);

    > :first-child {
      text-align: center;
      font-size: $fontsize-24;
      font-weight: 500;
    }
    .user_info_item {
      text-align: center;
      font-size: $fontsize-16;
    }
  }
  .user_rating {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
    top: -40px;
    left: -10px;
  }
}
