.search-control-icon-button {
    width: 33px !important;
    height: 33px !important;
}

.error-text {
    min-height: 1em;
    margin-top: 8px;
    color: #f44336;
    font-weight: 400;
    font-size: 0.75rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1em;
    letter-spacing: 0.0333em;
    text-align: left;
}

button.search-control-close-button {
    display: none;
}
