@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.search-control-icon-button {
    width: 33px !important;
    height: 33px !important;
}

.error-text {
    min-height: 1em;
    margin-top: 8px;
    color: $redOrange;
    font-weight: $headText;
    font-size: $fontsize075rem;
    font-family: $roboto;
    line-height: 1em;
    letter-spacing: 0.0333em;
    text-align: left;
}

button.search-control-close-button {
    display: none;
}
