@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";

$gradientColor: #000000cc;
$bannerBgGradient: linear-gradient(0deg, $gradientColor, $gradientColor);
$bannerBackground: $bannerBgGradient,
  url("https://i.pinimg.com/originals/4c/41/75/4c4175fc9f1274b6d732d5b5038f168d.jpg");

$textShadowNeon: 0 0 5px $white, 0 0 10px $white, 0 0 20px $white,
  0 0 40px $purple;

$boxShadowImage: 0 0 5px $white, 0 0 10px $white, 0 0 20px $white,
  0 0 10px $purple;

  @keyframes btn-shadow {
    0% {
      box-shadow: $textShadowNeon;
    }
    50% {
      box-shadow: $boxShadowImage;
    }
    100% {
        box-shadow: $textShadowNeon;
    }
  }

.banner {
  @include flex(row, center, space-between);
  background: $bannerBackground;
  padding: 100px;
  width: 100%;
  height: 80vh;

  .banner-content {
    @include flex(column, flex-start, space-between);
    flex: 2;
    height: 100%;
    padding: 20px 0;
    text-align: left;

    .banner-text {
      h3 {
        text-shadow: $textShadowNeon;
        font-size: 48px;
        font-weight: 600;
        color: $white;
        margin-bottom: 25px;
      }

      h4 {
        font-size: 20px;
        font-weight: 400;
        color: $white;
        margin-bottom: 0;
      }
    }

    .banner-button {
      text-decoration: none;
      background: $white;
      border: 1px solid $white;
      border-radius: 15px;
      color: $black;
      padding: 20px 40px;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      animation: btn-shadow 1s infinite;
      &:hover {
        box-shadow: $textShadowNeon;
        animation: none;
      }
    }
  }

  .banner-img {
    @include flex(row, center, center);
    flex: 5;
    height: 100%;

    .lazy-load-image-background {
      box-shadow: $boxShadowImage;
      width: 100%;
      max-width: 800px;
      transform: perspective(1000px) rotateY(-15deg) rotateX(5deg);
      
      &.blur.lazy-load-image-loaded {
        transition: 2s ease-in-out;
      }
      &:hover{
        transform: none;
      }
      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media only screen and (max-width: $mediaPcScreen) {
  .banner {
    height: 100vh;
    padding: 30px;
    flex-direction: column;

    .banner-content {
      @include flex(column, center, space-evenly);
      order: 2;
      height: 30%;
      text-align: center;

      .banner-text {
        margin: 25px 0;
      }

      .banner-button {
        font-size: 15px;
        font-weight: 700;
      }
    }

    .banner-img {
      order: 1;
      width: 100%;

      .lazy-load-image-background {
        width: 100%;
        max-width: 600px;

        img {
          height: 400px;
        }
      }
    }
  }
}

@media only screen and (max-width: $mediaSecondTabletScreen) {
  .banner {
      height: 80vh;
    .banner-content {
      padding: 0;

      .banner-text {
        h3 {
          font-size: 36px;
        }

        h4 {
          font-size: 18px;
        }
      }

      .banner-button {
        font-size: 14px;
        font-weight: 700;
        padding: 15px 35px;
      }
    }

    .banner-img {
      .lazy-load-image-background {
        max-width: 450px;

        img {
          height: 350px;
        }
      }
    }
  }
}

@media only screen and (max-width: $mediaMobileScreen) {
  .banner {
      
    .banner-content {
      flex: 2;
      justify-content: center;

      .banner-text {
        margin: 0;
        margin-bottom: 20px;
        h3 {
          font-size: 32px;
          margin-bottom: 15px;
        }

        h4 {
          font-size: 14px;
        }
      }

      .banner-button {
        margin-top: 25px;
        font-size: 12px;
        padding: 12px 30px;
      }
    }

    .banner-img {
      flex: 3;

      .lazy-load-image-background {
        max-width: 400px;

        img {
          height: 300px;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .banner {
    padding: 50px 20px 0 20px;
    .banner-content {
        margin-bottom: 30px;
      .banner-text {
        h3 {
          font-size: 24px;
        }

        h4 {
          font-size: 14px;
        }
        
      }
    }

    .banner-img {
      padding: 0 20px;
      flex: 3;
    }
  }
}
