@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/variables.scss";

.form-group__textarea {
    width: $fullWidth;
    margin-bottom: 30px;
}

.form-textarea {
    width: $fullWidth;
    padding: 5px 20px;
    color: $purpleDark;
    font-size: $bodyText;
    text-align: left;
    background: $white;
    border: 2px solid $white;
    border-radius: $defaultBorderRadius;
    box-shadow: 0 4px 4px #00000040;
}

.form-textarea__error {
    color: $deleteColor;
    box-shadow: 0 2px 2px $deleteColor;
}

.form-error {
    margin-left: 15px;
    color: $deleteColor;
    font-size: $bodyText;
}
