@import "../../styles/main.scss";
@import "../../styles/variables.scss";

.box.card {
    border-radius: 0.75rem;
    box-shadow: $buttonShadow;
}

.user_item_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding-right: 10px;
}
