@import "../../../styles/main.scss";

.header-burger {
    display: none;
    margin-left: 10px;
    cursor: pointer;

    .burger-line {
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        background-color: $black;
        border-radius: $r16;
    }
}
