@import "../../../styles/main.scss";

.header-burger{
    cursor: pointer;
    display: none;
    margin-left:10px;
    .burger-line{
      width: 30px;
      height: 3px;
      background-color: $black;
      margin-bottom: 5px;
      border-radius: $mediumBorderRadius;
  }
}