@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/pages/about.scss";

.about-banner {
    @include flex(column, flex-end, flex-end);

    width: $fullWidth;
    height: $aboutUsBannerHeight;
    padding: 50px;
    background: $aboutUsBannerGradient, $aboutUsBannerImage;
    background-position: center;
    background-size: cover;

    .banner-content__quote {
        margin-bottom: 0;
        color: $white;
        font-size: $aboutUsQuote;
        font-family: $quoteFont;
    }

    .btn-events {
        margin-top: 20px;
        padding: 20px 100px;
        color: $black;
        font-weight: $bold;
        font-size: $aboutUsBodyText;
        text-align: center;
        text-decoration: none;
        background: $white;
        border-radius: $defaultBorderRadius;

        &:hover {
            box-shadow: $aboutUsBannerBtnShadow;
        }
    }

    @include adaptiveStyles($mediaFirstTabletScreen) {

        .btn-events {
            margin-top: 15px;
            padding: 15px 50px;
        }
    }

    @include adaptiveStyles($mediaSecondTabletScreen) {
        right: inherit;
        align-items: center;
        width: $fullWidth;
        text-align: center;

        .banner-content__quote {
            font-size: $aboutUsQuoteMobile;
        }
    }

    @include adaptiveStyles($mediaMobileScreen) {
        right: inherit;
        align-items: center;
        width: $fullWidth;
        text-align: center;

        .banner-content__quote {
            font-size: $aboutUsQuoteMobile;
        }

        .btn-events {
            padding: 10px 30px;
            font-size: $aboutUsBodyTextMobile;
        }
    }
}
