@import "../../../styles/colors.scss";

body {
    font-family: Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#fb-share-button {
    position: static;
    display: inline-block;
    padding: 8px 20px;
    font-weight: 600;
    background: $lightBlue;
    border-radius: 3px;
}

#fb-share-button:hover {
    background: $greyBlue;
    cursor: pointer;
}

#fb-share-button svg {
    width: 18px;
    vertical-align: middle;
    border-radius: 2px;
    fill: $white;
}

#fb-share-button span {
    padding: 0 3px;
    color: $white;
    font-size: 14px;
    vertical-align: middle;
}
