@import "../../styles/variables.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";
@import "../../styles/pages/about.scss";

.about-banner {
  @include flex(column, flex-end, flex-end);
  background: $aboutUsBannerGradient, $aboutUsBannerImage;
  background-position: center;
  background-size: cover;
  width: $fullWidth;
  height: $aboutUsBannerHeight;
  padding: 50px;
  
  .banner-content__quote {
    font-family: $quoteFont;
    font-size: $aboutUsQuote;
    color: $white;
    margin-bottom: 0px;
  }

  .btn-events {
    text-decoration: none;
    padding: 20px 100px;
    margin-top: 20px;
    text-align: center;
    font-size: $aboutUsBodyText;
    font-weight: $bold;
    color: $black;
    background: $white;
    border-radius: $defaultBorderRadius;
    &:hover {
      box-shadow: $aboutUsBannerBtnShadow;
    }
  }


  @include adaptiveStyles($mediaFirstTabletScreen) {
    .btn-events {
      padding: 15px 50px;
      margin-top: 15px;
    }
  }

  @include adaptiveStyles($mediaSecondTabletScreen) {
      width: $fullWidth;
      text-align: center;
      align-items: center;
      right: inherit;

      .banner-content__quote {
        font-size: $aboutUsQuoteMobile;
      }
  }

  @include adaptiveStyles($mediaMobileScreen) {
      width: $fullWidth;
      text-align: center;
      align-items: center;
      right: inherit;

      .banner-content__quote {
        font-size: $aboutUsQuoteMobile;
      }

      .btn-events {
        padding: 10px 30px;
        font-size: $aboutUsBodyTextMobile;
      }
  }
}

.about-info {
  width: $fullWidth;
  padding: 50px;

  .info-text__left {
    .info-text__header {
      font-size: $aboutUsHeadingText;
      font-weight: $bold;
      color: $black;
    }

    .info-text__body {
      max-width: $infoTextMaxWidth;
      font-size: $aboutUsBodyText;
      color: $black;
    }
  }

  .info-images {
    display: flex;
    height: 400px;
    width: $fullWidth;

    .info-images__item {
      position: relative;
      width: $width25;

      .info-images__item-img {
        filter: brightness($infoImagesBrightness);
        width: $fullWidth;
        height: $fullHeight;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: $defaultTransition;
      }

      &:hover .info-images__item-img {
        filter: brightness($infoImagesHoverBrightness);
      }

      .info-images__text {
        z-index: 1;
        @include centerAbsolute;
        text-align: center;
        color: $white;
        font-size: $aboutUsBodyText;
      }
    }

    @include adaptiveStyles($mediaPcScreen) {
      height: 350px;
    }

    @include adaptiveStyles($mediaFirstTabletScreen) {
      height: 300px;
      margin: 50px 0;
    }

    @include adaptiveStyles($mediaSecondTabletScreen) {
      height: 400px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      .info-images__item {
        width: auto;
      }
    }

    @include adaptiveStyles($mediaMobileScreen) {
      display: flex;
      flex-direction: column;
      height: auto;
      padding: 20px;

      .info-images__item {
        width: auto;
        height: 300px;
      }
    }
  }

  .info-text__right {
    @include flex(column, flex-end, center);
    width: $fullWidth;
    text-align: right;

    .info-text__header {
      font-size: $aboutUsHeadingText;
      font-weight: $bold;
      color: $black;
    }

    .info-text__body {
      max-width: $infoTextMaxWidth;
      font-size: $aboutUsBodyText;
      color: $black;
    }
  }

  .info-text__right,
  .info-text__left {
    @include adaptiveStyles($mediaFirstTabletScreen) {
      align-items: center;
      text-align: center;
      margin-left: 0;
      padding: 0 50px;

      .info-text__header {
        font-size: $aboutUsSecondaryHeading;
      }

      .info-text__body {
        max-width: $fullWidth;
      }
    }

    @include adaptiveStyles($mediaMobileScreen) {
      .info-text__body {
        font-size: $aboutUsBodyTextMobile;
        max-width: $fullWidth;
      }

      .info-text__header {
        font-size: $aboutUsHeaderTextMobile;
        margin-bottom: 10px;
      }
    }
  }

  @include adaptiveStyles($mediaMobileScreen) {
    padding: 50px 0;
  }
}

.about-members {
  @include flex(column, center, center);

  .members-title {
    text-align: center;
    font-size: $aboutUsHeadingText;
    font-weight: $bold;
    color: $black;
    margin-bottom: 50px;

    @include adaptiveStyles($mediaFirstTabletScreen) {
      font-size: $aboutUsSecondaryHeading;
    }
  }

  .members-container {
    @include flex(row, center, center);
    padding: 0 50px;

    @include adaptiveStyles($mediaSecondTabletScreen) {
      flex-direction: column;
    }

    @include adaptiveStyles($mediaMobileScreen) {
      padding: 0;
    }
  }

  .member {
    @include flex(column, center, center);
    text-align: center;
    box-sizing: border-box;
    width: $fullWidth;

    @include adaptiveStyles($mediaFirstTabletScreen) {
      padding: 20px;

      .member__info {
        padding: 0px;
        margin-top: 10px;

        .member__name {
          font-size: $aboutUsSecondaryHeading;
          margin-bottom: 15px;
        }

        .member__description {
          font-size: $aboutUsBodyTextMobile;
        }
      }
    }

    @include adaptiveStyles($mediaSecondTabletScreen) {
      max-width: $width80;
      padding: 20px;
      margin-bottom: 30px;
    }
  }

  .member__image-container {
    @include flex(row, center, center);
    width: $width80;

    .member__image {
      width: $width80;
      height: $height80;
      border-radius: $borderRound;
      object-fit: cover;
    }
  }

  .member__info {
    width: $fullWidth;
    padding: 10px;
    box-sizing: border-box;

    .member__name {
      font-size: $aboutUsSecondaryHeading;
      font-weight: $bold;
      color: $black;
    }

    .member__description {
      font-size: $aboutUsBodyText;
      color: $black;
    }
  }
}