@import "../../../styles/colors.scss";

.inventory {
    padding: 0 20px;
}

.add-inventory-btn {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: $purple;
    cursor: pointer;
    &:disabled {
        color: gray;
        cursor: default;
    }
}

.inventory-list-header, .inventory-body-item {
    margin-top: 20px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 15px 0;
   .inventory-header-item, .body-field {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
   }
}


