@import "../../../styles/variables.scss";

.container {
    width: $fullWidth;
    display: flex;
    justify-content: center;

    .draftPagination {
        margin-top: 1.25rem;
        width: $fullWidth;
        display: flex;
        justify-content: center;
    }
}

.eventsBlock {
    width: $fullWidth;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3.125rem;
}