@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/fonts.scss";

.form-select {
    width: $fullWidth;
    margin-bottom: 30px;
    padding: 5px 20px;
    color: $purpleDark;
    font-size: $bodyText;
    text-align: left;
    background: $white;
    border: 2px solid $white;
    border-radius: $defaultBorderRadius;
    box-shadow: $inputBoxShadow;
}
