@import "../../styles/colors.scss";

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.stepper-container-horizontal {
    width: 65%;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid $orange;
    border-radius: 3px;
    box-shadow: 0 0 13px $middleGrey;
}

.buttons-container {
    margin: 40px auto;
    padding: 30px;
    text-align: center;
}

.previous {
    width: 100px;
    margin: 0 2rem;
    padding: 4px;
    background-color: $orange;
    border: none;
}

.next {
    width: 100px;
    margin: 0 2rem;
    padding: 4px;
    background-color: $orange;
    border: none;
}
