@import "../../styles/variables.scss";

.container {
    display: flex;
    justify-content: center;
    width: $fullWidth;
    padding-top: 60px;
}

.eventsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: $fullWidth;
}

.custom-center {
    position: fixed;
    top: $halfWidth;
    left: 55%;
    -webkit-transform: translate($minusHalfWidth, $minusHalfWidth);
    -ms-transform: translate($minusHalfWidth, $minusHalfWidth);
    transform: translate($minusHalfWidth, $minusHalfWidth);
}
