@import "../../styles/variables.scss";

.container {
    width: $fullWidth;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.eventsBlock {
    width: $fullWidth;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.custom-center {
    position: fixed;
    top: 50%;
    left: 55%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
