.btn-light-theme {
	display: flex;
	justify-content: flex-end;
    border: 2px solid $lightThemeAccept;
	color: $lightThemeAccept;
	padding: 5px 25px;
	border-radius: $buttonBorderRadius;
	font-weight: bold;
	align-self: flex-end;
	transition: 0.5s all;
	cursor: pointer;
	font-size: 14px;

	&:hover{
		color: darken($color: $lightThemeAccept, $amount: 15%);
		border-color: darken($color: $lightThemeAccept, $amount: 15%);
		background-color: #e6e6e6;
		text-decoration: none;
	}
}

.btn-dark-theme {
	display: flex;
	justify-content: flex-end;
    border: 2px solid $lightThemeAccept;
	color: $lightThemeAccept;
	padding: 5px 25px;
	border-radius: $buttonBorderRadius;
	font-weight: bold;
	align-self: flex-end;
	transition: 0.5s all;
	cursor: pointer;
	font-size: 14px;

	&:hover{
		color: darken($color: $lightThemeAccept, $amount: 15%);
		border-color: darken($color: $lightThemeAccept, $amount: 15%);
		background-color: #e6e6e6;
		text-decoration: none;
	}
}