@import "./variables";

html,
body,
#root {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: $mediaPcScreen) {
    max-width: $widthForContentPcScreen;
  }
  @media (max-width: $mediaFirstTabletScreen) {
    max-width: $widthForContentFirstTabletScreen;
  }
  @media (max-width: $mediaSecondTabletScreen) {
    max-width: $widthForContentSecondTabletScreen;
  }
  @media (max-width: $mediaMobileScreen) {
    width: auto;
    padding: 0 10px;
  }
}

.bttn {
  color: $lightThemeAccept;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid $lightThemeAccept;
  border-radius: $buttonBorderRadius;
  cursor: pointer;

  &:hover {
    color: darken($color: $lightThemeAccept, $amount: 15%);
    border-color: darken($color: $lightThemeAccept, $amount: 15%);
    background-color: #e6e6e6;
    text-decoration: none;
  }
}
