@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";

$mainFont: "Montserrat", sans-serif;

$black: #000;
$white: #fff;
$gray: #f2f2f2;
$lightThemeBackground: #fff;
$lightThemeAccept: #6c488a;
$lightThemeHeader: #696969;

$darkThemeBackground: #180c30;

//screens
$mediaPcScreen: 1180px;
$mediaFirstTabletScreen: 991px;
$mediaSecondTabletScreen: 767px;
$mediaMobileScreen: 575px;
$widthForContentPcScreen: 930px;
$widthForContentFirstTabletScreen: 730px;
$widthForContentSecondTabletScreen: 560px;

$transparentBlackBackground: rgba(0, 0, 0, 0.33);
$defaultBorderRadius: 20px;
$buttonBorderRadius: 10px;
