@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";

$mainFont: "Montserrat", sans-serif;

$black: #000;
$white: #fff;
$gray: #f2f2f2;
$lightThemeBackground: #fff;
$lightThemeAccept: #6c488a;
$lightThemeHeader: #696969;

$darkThemeBackground: #180c30;

//screens
$mediaPcScreen: 1180px;
$mediaFirstTabletScreen: 991px;
$mediaSecondTabletScreen: 767px;
$mediaMobileScreen: 575px;
$widthForContentPcScreen: 930px;
$widthForContentFirstTabletScreen: 730px;
$widthForContentSecondTabletScreen: 560px;

$transparentBlackBackground: rgba(0, 0, 0, 0.33);
$headerBackground: rgba(247, 244, 244, 0.4);
$transparentGreykBackground: rgba(116, 113, 113, 0.4);


$defaultBorderRadius: 20px;
$buttonBorderRadius: 10px;

$mobile-breakpoint: 426px;


$fontsize-10: 10px;
$fontsize-12: 12px;
$fontsize-14: 14px;
$fontsize-20: 20px;
$fontsize-24: 24px;
$bold: 900;



        
