@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";

$mainFont: "Montserrat", sans-serif;

$black: #000;
$white: #fff;
$gray: #F2F2F2;
$lightThemeBackground: #fff;
$lightThemeAccept: #6A2CD0; 
$lightThemeHeader: #696969;

$darkThemeBackground: #180C30;

$transparentBlackBackground: rgba(0, 0, 0, 0.33);
$defaultBorderRadius: 20px;
$buttonBorderRadius: 10px;