@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";

$mainFont: "Montserrat", sans-serif;

$black: #000;
$white: #fff;
$gray: #f2f2f2;
$lightThemeBackground: #fff;
$lightThemeAccept: #6c488a;
$lightThemeHeader: #696969;

$darkThemeBackground: #180c30;

//screens
$mediaPcScreen: 1180px;
$mediaFirstTabletScreen: 991px;
$mediaSecondTabletScreen: 767px;
$mediaMobileScreen: 575px;
$widthForContentPcScreen: 930px;
$widthForContentFirstTabletScreen: 730px;
$widthForContentSecondTabletScreen: 560px;

$transparentBlackBackground: #00000054;
$headerBackground: #f7f4f466;
$mainSearchGrey: #c4c4c475;
$transparentGreyBackground: #74747466;

$defaultBorderRadius: 20px;
$buttonBorderRadius: 10px;

$mobile-breakpoint: 426px;

$fontsize-10: 10px;
$fontsize-12: 12px;
$fontsize-14: 14px;
$fontsize-20: 20px;
$fontsize-24: 24px;
$bold: 900;
