@keyframes btn-shadow {
    0% {
        box-shadow: $textShadowNeon;
    }

    50% {
        box-shadow: $boxShadowImage;
    }

    100% {
        box-shadow: $textShadowNeon;
    }
}

$landingBannerAnimation: 'btn-shadow 1s infinite';