@import "./colors.scss";

.btn-dark-theme {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    color: $white;
    font-weight: $bold;
    border: 2px solid $white;
    border-radius: $buttonBorderRadius;
    cursor: pointer;
    transition: 0.5s all;

    &:hover {
        color: $darkenLight15;
        text-decoration: none;
        background-color: $gray;
        border-color: $darkenLight15;
    }
}

.btn-light-theme {
    @extend .btn-dark-theme;

    color: $lightThemeAccept;
    border: 2px solid $lightThemeAccept;
}
