@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
@import 'https://fonts.googleapis.com/css2?family=Norican&display=swap';

$mainFont: "Montserrat", sans-serif;
$quoteFont: "Norican", cursive;

$fontsize-10: 10px;
$fontsize-12: 12px;
$fontsize-14: 14px;
$fontsize-16: 16px;
$fontsize-18: 18px;
$fontsize-20: 20px;
$fontsize-24: 24px;
$fontsize-30: 30px;
$fontsize-32: 32px;
$fontsize-36: 36px;
$fontsize-40: 40px;
$fontsize-46: 46px;
$fontsize-50: 50px;
$bold: 900;
$semiBold: 700;
$headText: 400;

$quote: $fontsize-50;
$headingText: $fontsize-46;
$secondaryHeading: $fontsize-36;
$bodyText: $fontsize-18;

$quoteMobile: $fontsize-36;
$headerTextMobile: $fontsize-30;
$secondaryHeadingMobile: $fontsize-24;
$bodyTextMobile: $fontsize-16;
$bodyTextMobileSmall: $fontsize-14;

$bannerButtonText: $bodyText;
$bannerButtonTextMobile: $bodyTextMobileSmall;

