@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
@import "https://fonts.googleapis.com/css2?family=Norican&display=swap";

$mainFont: "Montserrat", sans-serif;
$quoteFont: "Norican", cursive;
$robinson: "Robinson", sans-serif;
$fontsize10: 10px;
$fontsize12: 12px;
$fontsize14: 14px;
$fontsize16: 16px;
$fontsize18: 18px;
$fontsize20: 20px;
$fontsize24: 24px;
$fontsize30: 30px;
$fontsize32: 32px;
$fontsize36: 36px;
$fontsize40: 40px;
$fontsize46: 46px;
$fontsize50: 50px;
$bold: 800;
$thick: 500;
$semiBold: 700;
$headText: 400;
$quote: $fontsize50;
$headingText: $fontsize46;
$secondaryHeading: $fontsize36;
$bodyText: $fontsize18;
$quoteMobile: $fontsize36;
$headerTextMobile: $fontsize30;
$secondaryHeadingMobile: $fontsize24;
$bodyTextMobile: $fontsize16;
$bodyTextMobileSmall: $fontsize14;
$bannerButtonText: $bodyText;
$bannerButtonTextMobile: $bodyTextMobileSmall;
