@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
@import 'https://fonts.googleapis.com/css2?family=Norican&display=swap';

$mainFont: "Montserrat", sans-serif;
$quoteFont: "Norican", cursive;

$fontsize-10: 10px;
$fontsize-12: 12px;
$fontsize-14: 14px;
$fontsize-20: 20px;
$fontsize-24: 24px;
$bold: 900;

$quote: 50px;
$headingText: 46px;
$secondaryHeading: 36px;
$bodyText: 18px;

$quoteMobile: 35px;
$headerTextMobile: 30px;
$secondaryHeadingMobile: 24px;
$bodyTextMobile: 16px;
$bodyTextMobileSmall: 14px;

$bannerButtonText: $bodyText;
$bannerButtonTextMobile: $bodyTextMobileSmall;