@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
@import "https://fonts.googleapis.com/css2?family=Norican&display=swap";

$mainFont: "Montserrat", sans-serif;
$quoteFont: "Norican", cursive;
$robinson: "Robinson", sans-serif;
$proximaNova: proxima-nova, "Source Sans Pro", sans-serif;
$helvita: "Helvetica", sans-serif;
$profile: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
$roboto: roboto, helvetica, arial, sans-serif;
$fontsize09vw: 0.9vw;
$fontsize075rem: 0.75rem;
$fontsize0875rem: 0.875rem;
$fontsize1rem: 1rem;
$fontsize125rem: 1.25rem;
$fontsize15rem: 1.5rem;
$fontsize2rem: 2rem;
$fontsize08em: 0.8em;
$fontsize085em: 0.85em;
$fontsize09em: 0.9em;
$fontsize1em: 1em;
$fontsize11em: 1.1em;
$fontsize13em: 1.3em;
$fontsize4em: 4em;
$fontsize10: 10px;
$fontsize12: 12px;
$fontsize13: 13px;
$fontsize14: 14px;
$fontsize16: 16px;
$fontsize18: 18px;
$fontsize20: 20px;
$fontsize24: 24px;
$fontsize28: 28px;
$fontsize30: 30px;
$fontsize32: 32px;
$fontsize36: 36px;
$fontsize40: 40px;
$fontsize45: 45px;
$fontsize46: 46px;
$fontsize50: 50px;
$fontsize70: 70px;
$fontsize80: 80px;
$fontsize90: 90px;
$fontsize100: 100px;
$fontsize112: 112px;
$fontsize130: 130px;
$bold: 800;
$thick: 500;
$semiBold: 700;
$mibbleText: 600;
$headText: 400;
$lightText: 300;
$quote: $fontsize50;
$headingText: $fontsize46;
$secondaryHeading: $fontsize36;
$bodyText: $fontsize18;
$quoteMobile: $fontsize36;
$headerTextMobile: $fontsize30;
$secondaryHeadingMobile: $fontsize24;
$bodyTextMobile: $fontsize16;
$bodyTextMobileSmall: $fontsize14;
$bannerButtonText: $bodyText;
$bannerButtonTextMobile: $bodyTextMobileSmall;
