@mixin flex($flex-d, $align-a, $justify-c) {
  display: flex;
  flex-direction: $flex-d;
  align-items: $align-a;
  justify-content: $justify-c;
}

@mixin font_input($family, $style, $weight) {
  font-family: $family;
  font-style: $style;
  font-weight: $weight;
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin adaptiveStyles($maxWidth) {
  @media (max-width: $maxWidth) {
    @content;
  }
}