//screens
$mediaPcScreen: 1180px;
$mediaFirstTabletScreen: 991px;
$mediaSecondTabletScreen: 767px;
$mediaMobileScreen: 575px;
$widthForContentPcScreen: 930px;
$widthForContentFirstTabletScreen: 730px;
$widthForContentSecondTabletScreen: 560px;
$mobile-breakpoint: 426px;

//border
$defaultBorderRadius: 20px;
$buttonBorderRadius: 10px;

