//screens
$mediaPcScreen: 1180px;
$mediaFirstTabletScreen: 991px;
$mediaSecondTabletScreen: 767px;
$mediaMobileScreen: 575px;
$widthForContentPcScreen: 930px;
$widthForContentFirstTabletScreen: 730px;
$widthForContentSecondTabletScreen: 560px;
$mobile-breakpoint: 426px;

//width & height
$fullWidth: 100%;
$halfWidth: 50%;
$minusHalfWidth: -50%;

$maxDisplayWidth:100vw;
$maxDisplayHeight:100vh;

$fullHeight: 100%;

//radius
$r16: 16px;

//input
$inputGeneralHeight: 55px;
$inputHeight: 40px;
$inputWidth: 270px;
$inputLaptopWidth: 250px;
$inputTabletWidth: 220px;
$inputMobileWidth: 80%;
$inputPadding: 8px 25px;
$inputMobilePadding: 0px 20px;
$inputShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$noBord: none;
$Unoutline: none;

//border
$defaultBorderRadius: 20px;
$buttonBorderRadius: 10px;

//margins
$margin-50:50px;
$left-160:160px;
//
$mediumPaddingTop:50px;

$borderRound: 100%;

$absoluteHeight100: 100vh;
$fullWidth: 100%;
$fullHeight: 100%;
$width50: 50%;
$height50: 50%;
$width25: 25%;

$defaultTransition: 0.5s ease-in-out;

$landingBannerBgPattern: "https://i.pinimg.com/originals/4c/41/75/4c4175fc9f1274b6d732d5b5038f168d.jpg";
$infoTextMaxWidth: $width50;
$infoTextMaxWidth: $width50;
