//screens
$mediaPcScreen: 1180px;
$mediaFirstTabletScreen: 991px;
$mediaSecondTabletScreen: 767px;
$mediaMobileScreen: 575px;
$widthForContentPcScreen: 930px;
$widthForContentFirstTabletScreen: 730px;
$widthForContentSecondTabletScreen: 560px;
$mobile-breakpoint: 426px;

//border
$defaultBorderRadius: 20px;
$buttonBorderRadius: 10px;


$fullWidth: 100%;
$fullHeight: 100%;
$absoluteHeight100: 100vh;
$width50: 50%;
$width25: 25%;

$defaultTransition: 0.5s ease-in-out;