@import "../../styles/colors.scss";

body {
    height: 100vh;
}

#root {
    height: 100%;
}

.col-sm-10 {
    left: 15.5vw;
}

.admin-panel {
    height: 100px;
    background-color: rgb(0 0 0 / 54%);
}

.admin-panel > h3 {
    padding: 30px 0 0 25px;
    color: $white;
}

.admin-sidebar {
    position: fixed;
    top: 22vh;
    background-color: rgb(114 113 113 / 20%);
}

.admin-sidebar ul li .link {
    display: block;
    width: 100%;
    padding: 10px;
    color: rgb(0 0 0 / 75%);
    font-size: 1.1em;
}

.admin-sidebar ul li .link:hover {
    color: rgb(0 0 0);
    font-weight: 550;
    background: $white;
    border-bottom: 3px solid rgb(63 81 181);
    transition: 0.1s;
}

#sub-nav div li a {
    width: 100%;
}
