@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

@keyframes ldsRolling {

    0% {
        -webkit-transform: translate($minusHalfWidth, $minusHalfWidth) rotate(0deg);
        transform: translate($minusHalfWidth, $minusHalfWidth) rotate(0deg);
    }

    100% {
        -webkit-transform: translate($minusHalfWidth, $minusHalfWidth) rotate(360deg);
        transform: translate($minusHalfWidth, $minusHalfWidth) rotate(360deg);
    }
}

@keyframes ldsRolling {

    0% {
        -webkit-transform: translate($minusHalfWidth, $minusHalfWidth) rotate(0deg);
        transform: translate($minusHalfWidth, $minusHalfWidth) rotate(0deg);
    }

    100% {
        -webkit-transform: translate($minusHalfWidth, $minusHalfWidth) rotate(360deg);
        transform: translate($minusHalfWidth, $minusHalfWidth) rotate(360deg);
    }
}

.ldsRolling div,
.ldsRolling div::after {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 20px solid $whiteBlue;
    border-top-color: transparent;
    border-radius: $halfWidth;
}

.ldsRolling div {
    top: 100px;
    left: $halfWidth;
    -webkit-animation: ldsrolling 1s linear infinite;
    animation: ldsRolling 1s linear infinite;
}

.ldsRolling div::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ldsRolling {
    position: relative;
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

#spinner-align {
    position: relative;
    height: 60vh;
}

#spinner-align .spinner-align {
    position: absolute;
    top: $halfWidth;
    left: $halfWidth;
    -webkit-transform: translate($minusHalfWidth, $minusHalfWidth);
    -ms-transform: translate($minusHalfWidth, $minusHalfWidth);
    transform: translate($minusHalfWidth, $minusHalfWidth);
}

.spinner-align {
    position: relative;
    z-index: 0;
    width: $fullWidth;
    max-width: 180px;
    height: 180px;
    text-align: center;
}
