.card-inner {
    margin-left: 4rem;
}

.photo {
    width: 55px;
    height: 55px;
}

.comment-text {
    margin-top: 4px;
    margin-left: -5px;
    font-size: 9px;
}

.photo-container {
    width: 80px;
    height: 80px;
}

.comment-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.ItemComment {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 0;
    color: $black;
    border-radius: 15px;
}

.mybutton {
    padding-right: 15px;
}

.children {
    padding-left: 50px;
}
