@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.auth-modal {
    @include flex(column, center, center);
    position: fixed;
    top: $height50;
    left: $width50;
    transform: translate(-$width50, -$height50);
    width: $fullWidth;
    min-height: $absoluteHeight100;
    overflow: hidden;
    background-color: $authModalOutsideColor;
    &.closed {
        display: none;
    }
    .modal-switcher {
        width: 450px;
        padding: 30px 50px;
        border-radius: 10px;
        @include flex(row, center, center);
        background-color: $lightPink; 
        color: $black;
        font-size: $fontsize-16;
        box-shadow: $authModalShadow;
        .switcher-btn {
            cursor: pointer;
            margin-left: 15px;
            color: $purple;
            font-weight: $bold;
        }
    }
    @media screen and (max-width: $mediaMobileScreen) {
        .modal-switcher {
          width: $width80;
          padding: 20px 30px;
          font-size: $fontsize-16;
          flex-direction: column;
          .switcher-btn {
            margin-top: 5px;
            margin-left: 0;
          }
        }
    }
}

