@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.auth-modal {
    @include flex(column, center, center);
    position: fixed;
    top: $height50;
    left: $width50;
    transform: translate(-$width50, -$height50);
    width: $fullWidth;
    min-height: $absoluteHeight100;
    overflow: hidden;
    background-color: $authModalOutsideColor;
    &.closed {
        display: none;
    }
    .modal-switcher {
        width: 450px;
        padding: 30px 50px;
        border-radius: $authModalBorderRadius;
        @include flex(row, center, center);
        background-color: $lightPink; 
        color: $black;
        font-size: $fontsize16;
        box-shadow: $authModalShadow;
        .switcher-btn {
            cursor: pointer;
            margin-left: 15px;
            color: $purple;
            font-weight: $bold;
        }
    }
    @media screen and (max-width: $mediaMobileScreen) {
        .modal-switcher {
          width: $width80;
          padding: 20px 30px;
          font-size: $fontsize16;
          flex-direction: column;
          .switcher-btn {
            margin-top: 5px;
            margin-left: 0;
          }
        }
    }
}


.auth-form {
    position: relative;
    width: 500px;
    height: 550px;
    padding: 50px 30px 20px 30px;
    border-radius: $authModalBorderRadius;
    @include flex(column, center, center);
    background-color: $lightPink;
    color: $black;
    font-size: $fontsize20;
    margin-bottom: 30px;
    box-shadow: $authModalShadow;

    .auth-form__title {
    font-size: $fontsize40;
    font-weight: $bold;
    margin-bottom: 50px;
    }

    .auth-error {
    margin-bottom: 20px;
    }

    .close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    }

    .auth-input {
    max-width: $width80;
    font-size: $fontsize20;
    }

    .auth-btn {
    cursor: pointer;
    padding: 10px 100px;
    border-radius: $buttonBorderRadius;
    color: $white;
    background-color: $purpleDark;
    font-size: $fontsize20;
    font-weight: $bold;
    margin-bottom: 10px;
    margin-top: 20px;
    }
    .recover-password-btn {
        cursor: pointer;
        text-decoration: underline;
        font-size: $fontsize14;
        font-weight: $bold;
    }
}

@media screen and (max-width: $mediaMobileScreen) {
    .auth-form {
    width: $width80;

    .auth-form__title {
        margin-bottom: 50px;
    }

    .auth-input {
        font-size: $fontsize16;
        max-width: $fullWidth;
        text-align: center;
    }

    .auth-btn {
        margin-top: 0;
        padding: 10px 50px;
        font-size: $fontsize16;
    }
    }
}
