.text-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: $white;
    font-size: 28px;
    background-color: #252424a6;
}

.title {
    font-size: 48px;
}

.button-block {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 28px;
}

.join-leave {
    font-size: 20px;
}

.btn-edit {
    font-size: 24px;
    background: $deleteColor;
}

.btn-edit:hover {
    background: $deleteColor;
    cursor: pointer;
}

.clear-backgroud {
    background-color: $white;
}

.clear-backgroud:hover {
    background-color: $white;
    cursor: pointer;
}

.text-box-big {
    overflow-wrap: anywhere;
    scroll-behavior: auto;
}

.cancel-text {
    font-size: 24px;
}

.change-event {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    display: none;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.dropdown-menu {
    background: transparent;
    border: 0;
}
