@import "../../../styles/colors.scss";

.text-block {
    position: absolute;
    bottom: $fontsize20;
    left: $fontsize20;
    padding-right: $fontsize20;
    padding-left: $fontsize20;
    color: $white;
    font-size: $fontsize28;
    background-color: $grayBlack;
}

.title {
    font-size: $fontsize45;
}

.button-block {
    position: absolute;
    right: $fontsize20;
    bottom: $fontsize20;
    padding-right: $fontsize20;
    padding-left: $fontsize20;
    font-size: $fontsize28;
}

.join-leave {
    font-size: $fontsize20;
}

.btn-edit {
    font-size: $fontsize24;
    background: $deleteColor;
}

.btn-edit:hover {
    background: $deleteColor;
    cursor: pointer;
}

.clear-backgroud {
    background-color: $white;
}

.clear-backgroud:hover {
    background-color: $white;
    cursor: pointer;
}

.text-box-big {
    overflow-wrap: anywhere;
    scroll-behavior: auto;
}

.cancel-text {
    font-size: $fontsize24;
}

.change-event {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    display: none;
    min-width: 160px;
    background-color: $white;
    box-shadow: $bropDownContentShadow;
}

.dropdown-menu {
    background: transparent;
    border: 0;
}
