@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.btnFacebook {
    display: inline-block;
    min-width: 118px;
    max-width: 118px;
    height: 48px;
    margin: 0 5px;
    padding: 0 18px;
    color: $white;
    text-align: center;
    background: $lightBlue;
    border: 0 transparent;
    border-radius: 50px;
}

.btnGoogle {
    display: inline-block;
    min-width: 118px;
    max-width: 118px;
    height: 48px;
    margin: 0 5px;
    padding: 0 5px;
    color: $middleGray;
    font-weight: $mibbleText;
    text-align: center;
    background: $white;
    border: 0 transparent;
    border-radius: 25px;
    box-shadow: $buttonShadow;
}

.btnFacebook:hover {
    background: $lightBlue;
    opacity: $opacity05;
}

.btnGoogle:hover {
    opacity: $opacity05;
}

.fa-google.blue {
    margin-right: 8px;
    color: $lightBlue;
}

.fa-at.blue {
    margin-right: 8px;
    color: $lightBlue;
}

@media only screen and (max-width: 399px) {

    .btnFacebook,
    .btnGoogle {
        width: $fullWidth;
    }
}

h6 {
    width: $fullWidth;
    margin: 20px 0;
    line-height: 0.1em;
    text-align: center;
    border-bottom: 1px solid $black;
}

h6 span {
    padding: 0 10px;
    background: $white;
}
