@import "../../styles/colors.scss";

.btnFacebook {
    display: inline-block;
    min-width: 118px;
    max-width: 118px;
    height: 48px;
    margin: 0 5px;
    padding: 0 18px;
    color: $white;
    text-align: center;
    background: $lightBlue;
    border: 0 transparent;
    border-radius: 50px;
}

.btnGoogle {
    display: inline-block;
    min-width: 118px;
    max-width: 118px;
    height: 48px;
    margin: 0 5px;
    padding: 0 5px;
    color: $middleGray;
    font-weight: 600;
    text-align: center;
    background: $white;
    border: 0 transparent;
    border-radius: 25px;
    box-shadow: 0 0 2px rgb(0 0 0 / 60%);
}

.btnFacebook:hover {
    background: $lightBlue;
    opacity: 0.6;
}

.btnGoogle:hover {
    opacity: 0.6;
}

.fa-google.blue {
    margin-right: 8px;
    color: $lightBlue;
}

.fa-at.blue {
    margin-right: 8px;
    color: $lightBlue;
}

@media only screen and (max-width: 399px) {

    .btnFacebook,
    .btnGoogle {
        width: 100%;
    }
}

h6 {
    width: 100%;
    margin: 20px 0;
    line-height: 0.1em;
    text-align: center;
    border-bottom: 1px solid #000000;
}

h6 span {
    padding: 0 10px;
    background: $white;
}
