@import "../../../../styles/colors.scss";

$positionIconsTop: 205px;
$positionIconsLeft: 30px;
$positionLeftFromHeartIcon: 50px;
$positionTopForIconSlider: 0;
$postitionIconsListTop: -10px;
$postitionIconsListRight: 75px;

.heart__icon {
    background: url("../../../../assets/icons/Imgheart.svg") no-repeat center;
}

.join-to-event__icon {
    background: url("../../../../assets/icons/ImgJoinToEvent.svg") no-repeat center;
}

.heart__icon,
.join-to-event__icon {
    z-index: 1;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.add-favorite-slider {
    top: calc($positionIconsTop + $positionTopForIconSlider);
    left: $positionIconsLeft;
}

.join-to-event-slider {
    top: calc($positionIconsTop + $positionTopForIconSlider);
    left: calc($positionIconsLeft + $positionLeftFromHeartIcon);
}

.add-favorite-matrix {
    top: 0;
    left: 0;
}

.join-to-event-matrix {
    top: $positionIconsTop;
    left: calc($positionIconsLeft + $positionLeftFromHeartIcon);
}

.add-favorite-list {
    top: $postitionIconsListTop;
    right: $postitionIconsListRight;
}

.join-to-event-list {
    top: $postitionIconsListTop;
    right: calc($postitionIconsListRight - $positionLeftFromHeartIcon);
}
