@import "../../styles/variables.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.MainSearchWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $fullWidth;
}

.MainSearchForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $fullWidth;
    max-width: 950px;
    height: $inputGeneralHeight;
    padding: $inputPadding;
    background: $white;
    border-radius: $r16;
    box-shadow: $inputShadow;

    .search__icon {
        width: 24px;
        height: 34px;
        transform: rotateY(180deg);
        cursor: pointer;
    }
}

.MainSearchInput {
    width: $fullWidth;
    margin: 0;
    font-size: $fontsize18;
    background-color: transparent;
    border: $noBord;
}

@media screen and (max-width: $mediaMobileScreen) {

    .MainSearchForm {
        height: $inputHeight;
        padding: $inputMobilePadding;

        .search__icon {
            width: 20px;
            height: 30px;
        }
    }

    .MainSearchInput {
        font-size: $fontsize16;
    }
}
