@import "../../../styles/main.scss";

.mobile-header-links-wrapperr{
    position: absolute;
    top: 0;
    left: 0;
    background-color:$white;
    width: $maxWidth;
    height: $maxHeight;
    padding-top:$mediumPaddingTop;
    .link-wrapper{
        font-size: $fontsize-20;
        margin-bottom: $fontsize-24;
        font-weight: $bold;
    }
}

@media (min-width: $tablet-breakpoint) {
    .mobile-header-links-wrapperr{
        display: none;
    }
}