@import "../../../styles/main.scss";

.mobile-header-links-wrapperr {
    position: absolute;
    top: 0;
    left: 0;
    width: $maxDisplayWidth;
    height: $maxDisplayHeight;
    padding-top: $mediumPaddingTop;
    background-color: $white;

    .link-wrapper {
        margin-bottom: $fontsize24;
        font-weight: $bold;
        font-size: $fontsize20;
    }
}

@media (min-width: $mediaFirstTabletScreen) {

    .mobile-header-links-wrapperr {
        display: none;
    }
}
