@import "../../../styles/main.scss";

.mobile-header-links-wrapperr{
    position: absolute;
    top: 0;
    left: 0;
    background-color:$white;
    width: 100vw;
    height: 100vh;
    padding-top:100px;
    .link-wrapper{
        font-size: $fontsize-20;
        margin-bottom: $fontsize-24;
        font-weight: 700;
    }
}

@media (min-width: $tablet-breakpoint) {
    .mobile-header-links-wrapperr{
        display: none;
    }
}