@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.radius-slider {
    width: $fullWidth;
    height: 10px;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
    background: $gray;
    border-radius: 5px;
    outline: none;
    opacity: $opacity05;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    -webkit-appearance: none;
}

.radius-slider:hover {
    opacity: $opacity1;
}

.radius-slider::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background: $middleBlue;
    border-radius: $halfWidth;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.radius-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: $middleBlue;
    border-radius: $halfWidth;
    cursor: pointer;
}

.slidecontainer {
    width: $fullWidth;
}
