@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';


.problem-btn {
    cursor: pointer;
    border-radius: $defaultBorderRadius;
    padding: 10px 50px;
    text-align: center;
    font-weight: $bold;
    font-size: $bodyText;
    transition: $defaultTransition;
}

.report__wrapper {
    height: $absoluteHeight100;
    @include flex(row, center, center);
    .report__container {
      @include flex(column, center, center);

        .report-container__title {
            font-size: $secondaryHeading;
            font-weight: $bold;
            margin-bottom: 20px;
        }

        .report-form {
            padding: 30px;
            @include flex(column, center, center);
            width: $fullWidth;

            .problem-types {
                width: $fullWidth;
                @include flex(column, flex-start, center);

                .problem-types__title {
                    font-size: $bodyText;
                    color: $purpleDark;
                    margin-bottom: 20px;
                }
            }

            .problem-description {
                min-height: 200px;
            }

            .buttons {
                margin-top: 20px;
                width: $fullWidth;
                @include flex(row, center, space-between);

                .btn-submit {
                    @extend .problem-btn;
                    background: $purpleDark;
                    color: $white;
                }

                .btn-reset {
                    @extend .problem-btn;
                    border: 3px solid $deleteColor;
                    color: $deleteColor;
                    &:hover {
                        background: $deleteColor;
                        color: $white;
                    }
                }
            }
        }
    }
}