@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.problem-btn {
    padding: 10px 50px;
    font-weight: $bold;
    font-size: $bodyText;
    text-align: center;
    border-radius: $defaultBorderRadius;
    cursor: pointer;
    transition: $defaultTransition;
}

.report-form {
    min-width: 500px;
    padding: 30px;

    @include flex(column, center, center);

    .problem-types {
        width: $fullWidth;

        @include flex(column, flex-start, center);

        .problem-types__title {
            margin-bottom: 20px;
            color: $purpleDark;
            font-size: $bodyText;
        }
    }

    .problem-description {
        min-height: 200px;
    }

    .buttons {
        width: $fullWidth;
        margin-top: 20px;

        @include flex(row, center, space-between);

        .btn-submit {
            @extend .problem-btn;

            color: $white;
            background: $purpleDark;
        }

        .btn-reset {
            @extend .problem-btn;

            color: $deleteColor;
            border: 3px solid $deleteColor;

            &:hover {
                color: $white;
                background: $deleteColor;
            }
        }
    }
}

@media (max-width: $mediaFirstTabletScreen) {

    .report-form {
        min-width: 400px;
    }
}

@media (max-width: $mediaMobileScreen) {

    .report-form {
        box-sizing: border-box;
        min-width: unset;
        padding: 20px;

        .buttons {
            flex-direction: column;

            .btn-reset {
                margin-top: 15px;
            }
        }
    }
}
