@import "../../../styles/main.scss";

.event-card {
    &__body{
    position:relative;
    display: inline-block;
    width: 374.05px;
    height: 242px;
   
    background-image: none;
    }

    &__poster{
        border-radius: 20px;
    }
    &__inner-container {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 142px;
    height: 84px;
    width: 340px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    
    }
    &__text-container{
    width: 314px;
    height: 50px;
    margin: 10px 6px 10px 20px;
    }

    &__inner-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 127.9%;
    color: $white;
    }
}

