@import "../../styles/main.scss";

.header {
  background: $headerBackground;
  height: 60px;
  width: 100%;
  text-align: center;
  z-index: 50;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 5px;

  @media (max-width: $mobile-breakpoint) {
    height: 40px;
  }
}

.header__menu {
  width: 54px;
  height: 47px;
  margin: 12px, 0px, 0px, 8px;
  cursor: pointer;

  @media (max-width: $mobile-breakpoint) {
    width: 35px;
    height: 30px;
  }

  &:hover {
    width: 60px;
    height: 55px;
  }
}
