@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.header {
    position: fixed;
    top: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $fullWidth;
    height: 60px;
    padding: 2px 5px;
    text-align: center;
    background: $white;

    @media (max-width: $mobileBreakpoint) {
        height: 40px;
    }
}

.header__menu {
    width: 54px;
    height: 47px;
    margin: 12px, 0, 0, 8px;
    cursor: pointer;

    @media (max-width: $mobileBreakpoint) {
        width: 35px;
        height: 30px;
    }

    &:hover {
        width: 60px;
        height: 55px;
    }
}
