.menu-view-mode {
  display: flex;
  justify-content: right;
  margin: 20px 0px;
}

.menu-view-mode__button {
  width: 40px;
  height: 40px;
  margin: 0px 5px;
}

.menu-view-mode__button_matrix {
  background: url("../../../assets/icons/ImgEventsViewModeMatrix.svg") no-repeat
    center;
}

.menu-view-mode__button_list {
  background: url("../../../assets/icons/ImgEventsViewModeList.svg") no-repeat
    center;
}

.menu-view-mode__button_slider {
  background: url("../../../assets/icons/ImgEventsViewModeSlider.svg") no-repeat
    center;
}
