@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/pages/about.scss";

.about-info {
    width: $fullWidth;
    padding: 50px;

    .info-text__left {

        .info-text__header {
            color: $black;
            font-weight: $bold;
            font-size: $aboutUsHeadingText;
        }

        .info-text__body {
            max-width: $infoTextMaxWidth;
            color: $black;
            font-size: $aboutUsBodyText;
        }
    }

    .info-images {
        display: flex;
        width: $fullWidth;
        height: 400px;

        .info-images__item {
            position: relative;
            width: $width25;

            .info-images__item-img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: $fullWidth;
                height: $fullHeight;
                object-fit: cover;
                filter: brightness($infoImagesBrightness);
                transition: $defaultTransition;
            }

            &:hover .info-images__item-img {
                filter: brightness($infoImagesHoverBrightness);
            }

            .info-images__text {
                z-index: 1;
                color: $white;
                font-size: $aboutUsBodyText;
                text-align: center;

                @include centerAbsolute;
            }
        }

        @include adaptiveStyles($mediaPcScreen) {
            height: 350px;
        }

        @include adaptiveStyles($mediaFirstTabletScreen) {
            height: 300px;
            margin: 50px 0;
        }

        @include adaptiveStyles($mediaSecondTabletScreen) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            height: 400px;

            .info-images__item {
                width: auto;
            }
        }

        @include adaptiveStyles($mediaMobileScreen) {
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 20px;

            .info-images__item {
                width: auto;
                height: 300px;
            }
        }
    }

    .info-text__right {
        @include flex(column, flex-end, center);

        width: $fullWidth;
        text-align: right;

        .info-text__header {
            color: $black;
            font-weight: $bold;
            font-size: $aboutUsHeadingText;
        }

        .info-text__body {
            max-width: $infoTextMaxWidth;
            color: $black;
            font-size: $aboutUsBodyText;
        }
    }

    .info-text__right,
    .info-text__left {
        @include adaptiveStyles($mediaFirstTabletScreen) {
            align-items: center;
            margin-left: 0;
            padding: 0 50px;
            text-align: center;

            .info-text__header {
                font-size: $aboutUsSecondaryHeading;
            }

            .info-text__body {
                max-width: $fullWidth;
            }
        }

        @include adaptiveStyles($mediaMobileScreen) {

            .info-text__body {
                max-width: $fullWidth;
                font-size: $aboutUsBodyTextMobile;
            }

            .info-text__header {
                margin-bottom: 10px;
                font-size: $aboutUsHeaderTextMobile;
            }
        }
    }

    @include adaptiveStyles($mediaMobileScreen) {
        padding: 50px 0;
    }
}
