.header-links-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  right: 50px;
  bottom: 2px;
  top: 10px;
  li {
    margin-left: 50px;
  }
  .link-wrapper {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    margin-top: 10px;
  }
  .login-link-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    img {
      display: block;
      width: 13px;
      height: 19px;
      margin-top: 5px;
      margin-left: 5px;
    }
  }
  .eng-link-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    img {
      display: block;
      width: 16px;
      height: 16px;
      margin-top: 5px;
      margin-left: 5px;
    }
  }
}
