@import "../../../styles/main.scss";

.header-links-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 2px;
  top: 10px;
  .header-link-item{
    margin-left: $margin-50;
  }
  .header-link-item{
    .link-wrapper {
      font-family: $mainFont;
      font-style: normal;
      font-weight: $bold;
      font-size: $fontsize-14;
      text-decoration: none;
      margin-top: 10px;
    }
  }
  .header-link-item{
    .eng-link-wrapper {
      margin-right: $margin-50;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-weight: $bold;
      font-size: $fontsize-20;
      .eng-link-icon {
        display: block;
        width: 16px;
        height: 16px;
        margin-top: 5px;
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: $laptop-breakpoint) {
  .header-links-wrapper {
    right: 15px;
    .header-link-item{
      margin-left: 20px;
    }
    .link-wrapper {
      font-size: $fontsize-12;
    }
    .login-link-wrapper,.eng-link-wrapper {
      .login-link,.eng-link{
        font-size: $fontsize-12;
      }
    }

  }
}

@media screen and (max-width: $mediaMobileScreen) {
  .header-links-wrapper {
    .header-link-item{
      .link-wrapper,.eng-link-wrapper{
        display: none;
      }
    }

    .header-burger{
      display: block;
    }
  }
}
