@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";

.custom-input {
    border-top: none;
    border-right: none;
    border-left: none;
}

.custom-input:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: $gray;
}

.MuiRadio-colorSecondary.Mui-checked {
    color: $gray;
}

.cursor-pointer {
    cursor: pointer;
}

.pic-container {
    overflow: hidden;
}

.pic {
    display: block;
    max-height: 500px;
    margin-right: auto;
    margin-left: auto;
}

.pic-container.pic-xs {
    width: 50px;
    height: 50px;
}

.pic-container.pic-small {
    width: 70px;
    height: 70px;
}

.pic-container.pic-medium {
    width: 150px;
    height: 150px;
}

.pic-container.pic-large {
    width: 250px;
    height: 250px;
}

.pic-container.pic-xl {
    width: 350px;
    height: 350px;
}

.pic-container.pic-circle {
    border-radius: $halfWidth;
}

.pic-overlay {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $fullWidth;
    height: $fullWidth;
    margin: 0;
    text-align: center;
    background-color: $gray;
    opacity: $opacity05;
}

.pic-container:hover .pic-overlay {
    top: $minusFullWidth;
}

.pic-overlay a {
    display: block;
    padding: 10px;
}

.pic-xs .pic-overlay a {
    padding: 5px;
}

.pic-overlay .fa-window-close-o {
    color: $deleteColor;
}

.pic-overlay .fa-pencil-square-o {
    color: $blue;
    font-size: $fontsize40;
}

.pic-medium .pic-overlay a i {
    font-size: $fontsize20;
}

.pic-large .pic-overlay a i {
    font-size: $fontsize36;
}

.pic-xl .pic-overlay a i {
    font-size: $fontsize45;
}

.profile-page {
    padding: 10px;
    font-size: $fontsize18;
    font-family: $profile;
    background: $white;
    border-radius: 25px;
    opacity: $opacity09;
}

#imgupload {
    display: none;
}

.select-style {
    width: 120px;
    overflow: hidden;
    border: 1px solid $gray;
    border-radius: 3px;
}

.select-style select {
    width: 130%;
    padding: 5px 8px;
    background: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}

.react-datepicker-popper {
    z-index: 460;
}

.retreat {
    padding-left: 15px;
}
