@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/animations.scss";

.complete-profile {
    width: 100%;
    display: flex;
    .user-avatar {
        flex: 1;
    }
    .user-details {
        padding: 0 100px;
        box-sizing: border-box;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .complete-profile__button {
        margin-top: 20px;
        text-decoration: none;
        background: $white;
        border: 1px solid $white;
        border-radius: $defaultBorderRadius;
        color: $black;
        padding: 20px 40px;
        font-size: $bannerButtonText;
        font-weight: $bold;
        cursor: pointer;
        transition: $defaultTransition;
        animation: $landingBannerAnimation;
    }
}