@import "../../styles/main.scss";

.footer__container {
  height: 150px;
  width: 100%;
  z-index: 500;
  background-color: $lightThemeAccept;
  position: relative;
  display: flex;
  justify-content: space-around;
  font-family: $mainFont;
  color: $gray;
  margin-top: 30px;
}

.footer__logo {
  width: 100px;
  height: 50px;
  margin-top: 30px;
}

.footer__links_to_pages_container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 70px;
  margin-left: 100px;
}

.footer__link {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  padding: 5px;
  gap: 3px;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
.footer__subscribe {
  @include flex-direction(column);
  justify-content: center;
}

.footer__form {
  @include flex-direction(row);
}

.footer__subscribe__icon {
  margin: 10px;
}

.footer__input {
  background-color: $mainSearchGrey;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: $fontsize-14;
  display: flex;
  color: $white;
  padding-left: 10px;
}

.footer__social_links {
  margin-top: 40px;
}

.footer__social_links_icons {
  @include flex-direction(row);
}

@media screen and (max-width: $mediaFirstTabletScreen) {
  .footer__social_links p,
  .footer__social_links h4,
  .footer__subscribe h4,
  .footer__link {
    font-size: 1em;
  }
}

@media screen and (max-width: $mediaSecondTabletScreen) {
  .footer__links_and_logo_container {
    @include flex-direction(row);
  }
  .footer__links_to_pages_container {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0.7em;
    @include flex(column, flex-start, flex-start);
  }
}

@media screen and (max-width: $mediaMobileScreen) {
  .footer__logo {
    display: none;
  }
  .footer__input {
    width: 150px;
  }
}
