@import "../../styles/main.scss";
.custom-footer {
    height: 225px;
    z-index: 500;
    background-color: $lightThemeAccept;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    font-family: $mainFont;
    color: $gray;
}

.custom-footer .custom-footer__logo {
    display: flex;
    align-items: flex-start;
    margin-top: 26px;
    width: 193px;
    position: relative;  
}

.custom-footer .links-to-pages {
    display: flex;
    align-items: flex-end;
    margin-bottom: 72px;
}

.custom-footer .custom-footer__subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.custom-footer__subscribe input {
    background-color: $mainSearchGrey;
    font-family:  $mainFont;
font-style: normal;
font-weight: 700;
font-size: $fontsize-14;
display: flex;
color: $headerBackground;
} 

.custom-footer .social-links {
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
    gap: 5px;
}

.social-links__icons {
    display: flex;
    flex-direction: row;
}

.custom-footer .social-links .social-link {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-footer .social-links .social-link i {
    color: $white;
}

.custom-footer .social-links .social-link:first-child {
    margin-left: auto;
}

.custom-footer .links-to-pages .link {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 3px;
}

.custom-footer .link-circle {
    width: 0.3em;
    height: 0.3em;
}

@media screen and (max-width: 705px) {
    .custom-footer .links-to-pages .link {
        font-size: 1em;
    }
}

@media screen and (max-width: 655px) {
    .custom-footer {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .custom-footer .links-to-pages, .custom-footer .social-links {
        justify-content: center;
    }

    .custom-footer .social-links .social-link:first-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 340px) {
    .custom-footer .links-to-pages {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .custom-footer .links-to-pages .link {
        width: 100%;
        text-align: center;
    }
}

