@import "../../../styles/variables.scss";

body {
    margin: 0;
    padding: 0;
}

.ImageResizer {
    position: relative;
    width: auto;
    height: 600px;
}

.crop-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 80px;
    left: 0;
}

.controls {
    position: absolute;
    bottom: 0;
    left: $halfWidth;
    display: flex;
    align-items: center;
    width: $halfWidth;
    height: 80px;
    transform: translateX($minusHalfWidth);
}

.slider {
    padding: 22px 0;
}
