@import "../../../styles/colors.scss";

.event-card {
  width: $distance300px;
  margin: 15px;
  box-shadow: $distance10px $distance10px $distance20px 0 $lightThemeHeader;
  background-color: $white;
  .card-image-container {
    @include flex(row, center, center);
    width: $percent100;
    height: $distance150px;
    overflow: hidden;
    position: relative;
  }
  .card-image{
    width: $distance300px;
    height: $distance150px;
    object-fit:cover;
  }
  .card-content {
    @include flex(row, start, start);
    width: $percent100;
    height: $distance150px;
    padding: $minPadding;
    .card-date {
      width: $distance150px;
      position: relative;
      padding: $minPadding;
    }
    .date-container {
      @include flex(row, center, center);
      height: $percent100;
      .day {
        @include flex(row, center, center);
        color: $lightThemeAccept;
        font-family: 'Robinson', sans-serif;
        height: $distance100px;
        text-shadow: 0 0 $distance20px $white;
        margin-bottom: $distance15px;
        font-weight: bold;
        font-size: $distance80px;
      }
    }
    .card-info {
      @include flex(column, start, space-between);
      padding: $minPadding;
      width: $percent100;
      .card-info-header {
        @include flex(row, center, center);
        width: $percent100;
        padding: $minPadding;
        height: $distance100px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $fontsize-20;
        color: $black;
      }
      .card-buttons {
        @include flex(row, center, flex-end);
        width: $percent100;
        padding: $minPadding;
        height: $distance40px;
        .like, .more {
          @include flex(row, center, center);
          width: $distance40px;
          height: $distance40px;
          padding: $minPadding;
        }
        .more {
          margin-left: $distance15px;
          background-color: $lightThemeAccept;
          color: $white;
          @include flex(row, center, start);
        }
      }
    }
  }
  .month {
    padding: $minPadding;
    color: $lightThemeAccept;
    font-family: 'Robinson', sans-serif;
    height: $distance40px;
    text-transform: uppercase;
    font-size: $distance45px;
    width: $percent100;
    margin: 0 auto;
  }
}