@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/fonts.scss";

.event-card {
  width: 300px;
  margin: 15px;
  box-shadow: $imageshadow;
  background-color: $white;
  .card-image-container {
    @include flex(row, center, center);
    width: $fullWidth;
    height: 150px;
    overflow: hidden;
    position: relative;
  }
  .card-image{
    width: 300px;
    height: 150px;
    object-fit:cover;
  }
  .card-content {
    @include flex(row, flex-start, flex-start);
    width: $fullWidth;
    height: 150px;
    padding: 5px;
    .card-date {
      width: 150px;
      position: relative;
      padding: 5px;
    }
    .date-container {
      @include flex(row, center, center);
      height: $fullWidth;
      .day {
        @include flex(row, center, center);
        color: $lightThemeAccept;
        font-family: $robinson;
        height: 100px;
        text-shadow: 0 0 20px $white;
        margin-bottom: 15px;
        font-weight: $bold;
        font-size: 80px;
      }
    }
    .card-info {
      @include flex(column, flex-start, space-between);
      padding: 5px;
      width: $fullWidth;
      .card-info-header {
        @include flex(row, center, center);
        width: $fullWidth;
        padding: 5px;
        height: 100px;
        text-transform: uppercase;
        font-weight: $bold;
        font-size: $fontsize-20;
        color: $black;
      }
      .card-buttons {
        @include flex(row, center, flex-end);
        width: $fullWidth;
        padding: 5px;
        height: 40px;
        .like, .more {
          @include flex(row, center, center);
          width: 40px;
          height: 40px;
          padding: 5px;
        }
        .more {
          margin-left: 15px;
          background-color: $lightThemeAccept;
          color: $white;
          @include flex(row, center, flex-start);
        }
      }
    }
  }
  .month {
    padding: 5px;
    color: $lightThemeAccept;
    font-family: $robinson;
    height: 40px;
    text-transform: uppercase;
    font-size: 45px;
    width: $fullWidth;
    margin: 0 auto;
  }
}