@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/fonts.scss";

.event-card {
    width: 300px;
    margin: 15px;
    background-color: $white;
    box-shadow: $imageshadow;

    .card-image-container {
        @include flex(row, center, center);

        position: relative;
        width: $fullWidth;
        height: 150px;
        overflow: hidden;
    }

    .card-image {
        width: 300px;
        height: 150px;
        object-fit: cover;
    }

    .card-content {
        @include flex(row, flex-start, flex-start);

        width: $fullWidth;
        height: 150px;
        padding: 5px;

        .card-date {
            position: relative;
            width: 150px;
            padding: 5px;
        }

        .date-container {
            @include flex(row, center, center);

            height: $fullWidth;

            .day {
                @include flex(row, center, center);

                height: 100px;
                margin-bottom: 15px;
                color: $lightThemeAccept;
                font-weight: $bold;
                font-size: 80px;
                font-family: $robinson;
                text-shadow: 0 0 20px $white;
            }
        }

        .card-info {
            @include flex(column, flex-start, space-between);

            width: $fullWidth;
            padding: 5px;

            .card-info-header {
                @include flex(row, center, center);

                width: $fullWidth;
                height: 100px;
                padding: 5px;
                color: $black;
                font-weight: $bold;
                font-size: $fontsize20;
                text-transform: uppercase;
            }

            .card-buttons {
                @include flex(row, center, flex-end);

                width: $fullWidth;
                height: 40px;
                padding: 5px;

                .like,
                .more {
                    @include flex(row, center, center);

                    width: 40px;
                    height: 40px;
                    padding: 5px;
                }

                .more {
                    margin-left: 15px;
                    color: $white;
                    background-color: $lightThemeAccept;

                    @include flex(row, center, flex-start);
                }
            }
        }
    }

    .month {
        width: $fullWidth;
        height: 40px;
        margin: 0 auto;
        padding: 10px;
        color: $lightThemeAccept;
        font-size: 45px;
        font-family: $robinson;
        text-transform: uppercase;
    }
}