@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.line {
    display: block;
    width: $fullWidth;
    margin: auto;
}

.line path {
    fill: transparent;
    stroke: $gray;
    stroke-width: 0.3;
}
