@import "../../styles/variables.scss";
.search_users_container {
  width: $fullWidth;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  position: relative;
  padding-bottom: 40px;

  .search_users_input {
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .search_users_pagination {
    width: $fullWidth;
    display: flex;
    flex-direction: column;
    width: $fullWidth;
    padding-right: 20px;
    padding-bottom: 20px;

    .search_users_input {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .search_users_pagination {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: $fullWidth;
        }
    }
}