@import "../../styles/variables.scss";

.search_users_container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: $fullWidth;
    padding-right: 20px;
    padding-bottom: 40px;

    .search_users_input {
        margin-top: 70px;
        margin-bottom: 20px;
    }

    .search_users_pagination {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: $fullWidth;
        width: $fullWidth;
        padding: 20px 0px;

        .search_users_input {
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .search_users_pagination {
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            width: $fullWidth;
        }
    }
}