@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";

.dropdown-toggle {
    flex-direction: row;
    align-items: center;
    margin: 2px;
    padding: 0;
    color: $white;
    cursor: pointer;

    @media (max-width: $mobileBreakpoint) {
        margin-bottom: 2px;
    }
}
