@import "../../../styles/main.scss";

.dropdown-toggle {
  align-items: center;
  flex-direction: row;
  margin: 2px;
  padding: 0;
  cursor: pointer;
  color: $white;

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 2px;
  }
}
