@import "../../styles/fonts.scss";
@import "../../styles/colors.scss";

.section__header {
    display: flex;
    align-items: center;
    color: $lightThemeHeader;
    font-weight: $bold;
    font-size: $fontsize24;
    line-height: 30px;

    &::before {
        display: block;
        width: 12px;
        height: 38px;
        margin-right: 5px;
        background-color: $lightThemeAccept;
        content: "";
    }
}
