@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@include authForm("login");

.login-form {

    .recover-password-btn {
        font-weight: $bold;
        font-size: $fontsize14;
        text-decoration: underline;
        cursor: pointer;
    }
}
