@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

@include auth-form("login");

.login-form { 
    .recover-password-btn {
        cursor: pointer;
        text-decoration: underline;
        font-size: $fontsize-14;
        font-weight: $bold;
    }
}