@import "../../../styles/colors.scss";


$slick-before-transform-origin: 100% 100%;
$slick-after-transform-origin: 100% 0%;
$slick-translate: translate(-75%, -50%);
$slick-prev-after-translate: translate(-75%, 50%);
$slick-prev-rotate: 135deg;
$slick-next-rotate: 45deg;

.slick-prev:before,
.slick-prev:after,
.slick-next:before,
.slick-next:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  background-color: $black;
  border-radius: 2px;
}

.slick-prev:before {
  transform-origin: $slick-before-transform-origin;
  transform: $slick-translate rotate($slick-prev-rotate);
}
.slick-prev:after {
  transform-origin: $slick-after-transform-origin;
  transform: $slick-prev-after-translate rotate(calc($slick-prev-rotate * -1));
}

.slick-next:before {
  transform-origin: $slick-before-transform-origin;
  transform: $slick-translate rotate($slick-next-rotate);
}
.slick-next:after {
  transform-origin: $slick-after-transform-origin;
  transform: $slick-translate rotate(calc($slick-next-rotate * -1));
}

.slick-prev {
  left: -40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.slick-slider {
    margin: $distance30px auto $distance50px;
    width: auto;
}
.slick-initialized .slick-slide {
  @include flex(row, start, center);
}

.slick-dots li {
  margin: 0 $distance15px;
}
.slick-dots li button:before {
  content: "";
  background: $gray;
  opacity: 1;
  height: 4px;
  width: $distance40px;
}
.slick-dots li.slick-active button:before {
  content: "";
  background: $lightThemeAccept;
  opacity: 1;
  height: 4px;
  width: $distance40px;
}

@media screen and (max-width: $mediaSecondTabletScreen){
  .slick-slide {
    margin-bottom: $distance35px;
  }
}