.container {
  max-width: 1200px;
  margin: 0 auto;
}
.slick-slider {
    margin: 30px auto 50px;
    width: auto;
}
.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
}
.slick-prev {
  background: black;
}

.slick-next {
  background: black;
}
.slick-dots li {
  margin: 0 16px;
}
.slick-dots li button:before {
  content: " ";
  background: #D8D8D8;
  opacity: 1;
  height: 4px;
  width: 40px;
}
.slick-dots li.slick-active button:before {
  content: " ";
  background: #0080AD;
  opacity: 1;
  height: 4px;
  width: 40px;
}

@media screen and (max-width: 767px){
  .slick-slide {
    margin-bottom: 35px;
  }
}