@import "../../../styles/variables.scss";
@import "../../../styles/fonts.scss";

.link__icon {
    margin-right: 15px;
    color: inherit;
    text-decoration: none;

    &:last-child {
        margin-right: 0;
    }

    .social__icon {
        font-size: $fontsize24;
        cursor: pointer;
    }
}

@media screen and (max-width: $mediaFirstTabletScreen) {

    .link__icon {

        .social__icon {
            font-size: $fontsize24;
        }
    }
}

@media screen and (max-width: $mediaSecondTabletScreen) {

    .link__icon {

        .social__icon {
            font-size: $fontsize20;
        }
    }
}

@media screen and (max-width: $mediaMobileScreen) {

    .link__icon {

        .social__icon {
            font-size: $fontsize16;
        }
    }
}
