@import "../../../../styles/variables.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";
@import "../../../../styles/animations.scss";

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $fullWidth;
    height: $fullHeight;
    background-color: $backGroundModal;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .container {
        width: 384px;
        box-shadow: $boxshadow;
        border-radius: $r16;
        padding: 1.25rem;
        margin: 0.625rem;
        background-color: $white;
    }
}


.titleText {
    font-size: 1.5rem;
    text-align: center;
}


.inputBlock {
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;

    .input {
        @include formInput;
    }
}

.interact {
    width: $fullWidth;
    display: flex;
    justify-content: space-around;
    margin-top: 1.25rem;

    .interactBtn {
        font-size: 0.875rem;
        font-family: $mainFont;
        font-weight: $thick;
        padding: 0.5rem 1.25rem;
        border-radius: $r12;
        opacity: .9;
        cursor: pointer;
        transition: $defaultTransition;

        &:hover {
            opacity: $opacity1;
        }
    }

    .interactBtn:first-child {
        background-color: $lightPink;
        color: $black;
    }

    .interactBtn:last-child {
        background-color: $purple;
        color: $white;
    }
}

@media screen and (max-width: $mediaMobileScreen) {
    .wrapper .container {
        height: 160px;
        width: 350px;
    }

    .inputBlock .input {
        width: 100%;
    }
}