@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";

.logo {
    position: absolute;
    left: $left160;
    display: flex;
    align-items: center;
    font-size: $fontsize24;

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
    }

    .logo__textEvents {
        color: $lightThemeAccept;
        font-weight: $bold;
        font-size: $fontsize24;
        text-shadow: 0 0 3px $gray, 0 0 2px $white;
    }

    .logo__textExpress {
        color: $white;
        font-weight: $bold;
        font-size: $fontsize24;
        text-shadow: $logoTextShadow;
    }

    .logo__image {
        width: 58px;
        height: 29px;
    }
}

@media (max-width: $mediaFirstTabletScreen) {

    .logo {
        left: 100px;

        .logo__textEvents {
            font-size: $fontsize14;
        }

        .logo__textExpress {
            font-size: $fontsize14;
        }

        .logo__image {
            width: 48px;
            height: 24px;
        }
    }
}

@media (max-width: $mediaMobileScreen) {

    .logo__textExpress,
    .logo__textEvents {
        font-size: $fontsize14;
    }

    .logo__image {
        height: 15px;
    }
}
