@import "../../../styles/main.scss";

.logo {
  display: flex;
  align-items: center;
  position: absolute;
  left: 160px;
  transform: translate(-50%, 0%);
  font-size: $fontsize-24;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }

  .logo__textEvents {
    color: $lightThemeAccept;
    text-shadow: 0 0 3px $gray, 0 0 2px $white;
    font-size: $fontsize-24;
    font-weight: $bold;
  }

  .logo__textExpress {
    color: $white;
    text-shadow: 0 0 3px $gray, 0 0 5px $lightThemeAccept;
    font-size: $fontsize-24;
    font-weight: $bold;
  }

  .logo__image {
    width: 58px;
    height: 29px;
  }
}
@media (max-width: $laptop-breakpoint) {
  .logo {
    left: 100px;
    .logo__textEvents {
      font-size: $fontsize-14;
    }

    .logo__textExpress {
      font-size: $fontsize-14;
    }
    .logo__image {
      width: 48px;
      height: 24px;
    }
  }
}
@media (max-width: $mobile-breakpoint) {
  .logo__textExpress,
  .logo__textEvents {
    font-size: $fontsize-14;
  }

  .logo__image {
    height: 15px;
  }
}
