$height: 30px !default;
$white: #ffffff !default;
$fontColor: #666666 !default;
$fontPlaceholderColor: #8a8a8a !default;
$fontDisabledColor: #dedede !default;
$primaryColor: #5897fb !default;
$primaryColorLow: rgba($primaryColor, 0.1);
$borderColor: #dcdee2 !default;
$searchHighlightColor: #fffb8c !default;
$borderRadius: 4px !default;
$spacingL: 8px !default;
$spacingM: 6px !default;
$spacingS: 4px !default;

.ss-main {
    position: relative;
    display: inline-block;
    width: $fullWidth;
    color: $fontColor;
    user-select: none;

    .ss-single-selected {
        display: flex;
        box-sizing: border-box;
        width: $fullWidth;
        height: $height;
        padding: $spacingM;
        background-color: $white;
        border: 1px solid $borderColor;
        border-radius: $borderRadius;
        outline: 0;
        cursor: pointer;
        transition: background-color 0.2s;

        &.ss-disabled {
            background-color: $borderColor;
            cursor: not-allowed;
        }

        &.ss-open-above {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &.ss-open-below {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .placeholder {
            display: flex;
            flex: 1 1  $fullWidth;
            align-items: center;
            width: calc($fullWidth - 30px);
            overflow: hidden;
            line-height: 1em;
            white-space: nowrap;
            text-align: left;
            text-overflow: ellipsis;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            * {
                display: flex;
                align-items: center;
                width: auto;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .ss-disabled {
                color: $fontDisabledColor;
            }
        }

        .ss-deselect {
            display: flex;
            flex: 0 1 auto;
            align-items: center;
            justify-content: flex-end;
            margin: 0 $spacingM 0 $spacingM;
            font-weight: $bold;

            &.ss-hide {
                display: none;
            }
        }

        .ss-arrow {
            display: flex;
            flex: 0 1 auto;
            align-items: center;
            justify-content: flex-end;
            margin: 0 $spacingM 0 $spacingM;

            span {
                display: inline-block;
                padding: 3px;
                border: solid $fontColor;
                border-width: 0 2px 2px 0;
                transition: transform 0.2s, margin 0.2s;

                &.arrow-up {
                    margin: 3px 0 0;
                    transform: rotate(-135deg);
                }

                &.arrow-down {
                    margin: -3px 0 0;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .ss-multi-selected {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        width: $fullWidth;
        min-height: $height;
        padding: 0 0 0 3px;
        background-color: $white;
        border: 1px solid $borderColor;
        border-radius: $borderRadius;
        outline: 0;
        cursor: pointer;
        transition: background-color 0.2s;

        &.ss-disabled {
            background-color: $borderColor;
            cursor: not-allowed;

            .ss-values {

                .ss-disabled {
                    color: $fontColor;
                }

                .ss-value {

                    .ss-value-delete {
                        cursor: not-allowed;
                    }
                }
            }
        }

        &.ss-open-above {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &.ss-open-below {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .ss-values {
            display: flex;
            flex: 1 1  $fullWidth;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: calc($fullWidth - 30px);

            .ss-disabled {
                display: flex;
                align-items: center;
                width: $fullWidth;
                margin: 2px 0;
                padding: 4px 5px;
                overflow: hidden;
                color: $fontDisabledColor;
                line-height: 1em;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            @keyframes scaleIn {

                0% {
                    transform: scale(0);
                    opacity: $opacity0;
                }

                100% {
                    transform: scale(1);
                    opacity: $opacity1;
                }
            }

            @keyframes scaleOut {

                0% {
                    transform: scale(1);
                    opacity: $opacity1;
                }

                100% {
                    transform: scale(0);
                    opacity: $opacity0;
                }
            }

            .ss-value {
                display: flex;
                align-items: center;
                margin: 3px 5px 3px 0;
                padding: 3px 5px;
                color: $white;
                font-size: $fontsize12;
                background-color: $primaryColor;
                border-radius: $borderRadius;
                animation-name: scaleIn;
                animation-duration: 0.2s;
                animation-timing-function: ease-out;
                animation-fill-mode: both;
                user-select: none;

                &.ss-out {
                    animation-name: scaleOut;
                    animation-duration: 0.2s;
                    animation-timing-function: ease-out;
                }

                .ss-value-delete {
                    margin: 0 0 0 5px;
                    cursor: pointer;
                }
            }
        }

        .ss-add {
            display: flex;
            flex: 0 1 3px;
            margin: 9px $fontsize12 0 5px;

            .ss-plus {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2px;
                height: 10px;
                background: $fontColor;
                transition: transform 0.2s;

                &::after {
                    position: absolute;
                    top: 4px;
                    left: -4px;
                    width: 10px;
                    height: 2px;
                    background: $fontColor;
                    content: "";
                }

                &.ss-cross {
                    transform: rotate(45deg);
                }
            }
        }
    }

    .ss-content {
        position: absolute;
        z-index: 1010;
        box-sizing: border-box;
        width: $fullWidth;
        margin: -1px 0 0;
        background-color: $white;
        border: solid 1px $borderColor;
        transform: scaleY(0);
        transform-origin: center top;
        opacity: $opacity0;
        transition: transform 0.2s, opacity 0.2s;

        &.ss-open {
            display: block;
            transform: scaleY(1);
            opacity: $opacity1;
        }

        .ss-search {
            display: flex;
            flex-direction: row;
            padding: $spacingL $spacingL $spacingM $spacingL;

            &.ss-hide {
                height: 0;
                margin: 0;
                padding: 0;
                opacity: $opacity0;

                input {
                    height: 0;
                    margin: 0;
                    padding: 0;
                    opacity: $opacity0;
                }
            }

            input {
                display: inline-flex;
                flex: 1 1 auto;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: $fullWidth;
                min-width: 0;
                height: 30px;
                margin: 0;
                padding: $spacingM $spacingL;
                font-size: inherit;
                line-height: inherit;
                text-align: left;
                background-color: $white;
                border: 1px solid $borderColor;
                border-radius: $borderRadius;
                outline: 0;
                -webkit-appearance: textfield;

                &::placeholder {
                    color: $fontPlaceholderColor;
                    vertical-align: middle;
                }

                &:focus {
                    box-shadow: 0 0 5px $primaryColor;
                }
            }

            .ss-addable {
                display: inline-flex;
                flex: 0 0 30px;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                height: 30px;
                margin: 0 0 0 8px;
                font-weight: $bold;
                font-size: $fontsize22;
                border: 1px solid $borderColor;
                border-radius: $borderRadius;
                cursor: pointer;
            }
        }

        .ss-addable {
            padding-top: 0;
        }

        .ss-list {
            max-height: 200px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: left;

            .ss-optgroup {

                .ss-optgroup-label {
                    padding: 6px 10px;
                    font-weight: $bold;
                }

                .ss-option {
                    padding: 6px 6px 6px 25px;
                }
            }

            .ss-optgroup-label-selectable {
                cursor: pointer;

                &:hover {
                    color: $white;
                    background-color: $primaryColor;
                }
            }

            .ss-option {
                padding: 6px 10px;
                cursor: pointer;
                user-select: none;

                * {
                    display: inline-block;
                }

                &:hover,
                &.ss-highlighted {
                    color: $white;
                    background-color: $primaryColor;
                }

                &.ss-disabled {
                    color: $fontDisabledColor;
                    background-color: $white;
                    cursor: not-allowed;
                }

                &:not(.ss-disabled).ss-option-selected {
                    color: $fontColor;
                    background-color: $primaryColorLow;
                }

                &.ss-hide {
                    display: none;
                }

                .ss-search-highlight {
                    background-color: $searchHighlightColor;
                }
            }
        }
    }
}
